<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="SilEncConverters22"
								  publicKeyToken="f1447bae1e63f485"
								  culture="en" />
				<!-- Redirecting versions 2.2.2.0 thru 2.6.0.0 to version 2.6.1.0 of the assembly. -->
				<bindingRedirect oldVersion="2.2.2.0 - 2.6.0.0"
								 newVersion="2.6.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>