<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:dep="http://wixtoolset.org/schemas/v4/wxs/dependency">
  <?if $(var.FastBundleBuild) = 1 ?>
  <?define BundlePackageCompressed = no ?>
  <?else?>
  <?define BundlePackageCompressed = yes ?>
  <?endif?>

    <Bundle Id="$(var.BundleId)"
      Name="FieldWorks Installer"
        Version="$(var.VersionNumber)"
        UpgradeCode="$(var.UpgradeCode)"
      Tag="$(var.SafeApplicationName)"
      IconSourceFile="$(var.ProjectDir)..\resources\Installer.ico"
        Copyright="Copyright © $(var.Year), $(var.Manufacturer)"
        Manufacturer="$(var.Manufacturer)">

    <bal:Condition Message="XP is no longer supported." Condition="VersionNT &gt;= v6.0" />

    <BootstrapperApplication>
      <Payload SourceFile="BundleTheme.xml" Name="BundleTheme.xml" />
      <Payload SourceFile="BundleTheme.wxl" Name="BundleTheme.wxl" />
      <Payload SourceFile="fw-logo.png" Name="fw-logo.png" />
      <Payload SourceFile="bg.png" Name="bg.png" />
      <Payload SourceFile="header-bg.png" Name="header-bg.png" />
      <Payload SourceFile="License.htm" Name="License.htm" />

      <bal:WixStandardBootstrapperApplication Theme="hyperlinkLicense"
                                              ThemeFile="BundleTheme.xml"
                                              LicenseUrl="License.htm"
                                              LocalizationFile="BundleTheme.wxl"
                                              LogoFile="fw-logo.png"
                                              SuppressOptionsUI="yes"
                                              SuppressDowngradeFailure="yes" />
    </BootstrapperApplication>

    <RelatedBundle Code="$(var.UpgradeCode)" Action="Upgrade" />

    <WixVariable Id="WixBundleDowngradeErrorMessage"
           Value="A newer version of $(var.SafeApplicationName) is already installed. Continuing will uninstall it and install this older version." />

    <Chain>
      <PackageGroupRef Id="NetFx48Web" />
      <PackageGroupRef Id="vcredists" />
      <RollbackBoundary />
      <PackageGroupRef Id="AppPackageGroup"/>
    </Chain>
  </Bundle>

  <Fragment Id="AppFragment">
    <PackageGroup Id="AppPackageGroup">
      <MsiPackage Id="AppMsiPackage"
                  DisplayName="$(var.SafeApplicationName) $(var.VersionNumber)"
                  ForcePerMachine="yes"
                  bal:DisplayInternalUICondition="WixBundleUILevel >= 4"
                  Compressed="$(var.BundlePackageCompressed)"
                  InstallCondition="1"
                  LogPathVariable="WixBundleLog_AppMsiPackage"
                  SourceFile="$(var.FieldWorks.Installer.TargetPath)"
                  Visible="no"
                  Vital="yes">
      </MsiPackage>
    </PackageGroup>
  </Fragment>

  <?if $(sys.BUILDARCH)="x86"?>
  <!-- 32bit VC++ redistributable download section -->
  <?define VC08RedistWebLink = https://download.microsoft.com/download/5/D/8/5D8C65CB-C849-4025-8E95-C3966CAFD8AE/vcredist_x86.exe ?>
  <?define VC10RedistWebLink = https://download.microsoft.com/download/1/6/5/165255E7-1014-4D0A-B094-B6A430A6BFFC/vcredist_x86.exe ?>
  <?define VC11RedistWebLink = https://download.microsoft.com/download/1/6/B/16B06F60-3B20-4FF2-B699-5E9B7962F9AE/VSU_4/vcredist_x86.exe ?>
  <?define VC12RedistWebLink = https://download.microsoft.com/download/0/5/6/056dcda9-d667-4e27-8001-8a0c6971d6b1/vcredist_x86.exe ?>
  <?define VC15to19RedistWebLink = https://download.visualstudio.microsoft.com/download/pr/888b4c07-c602-499a-9efb-411188496ce7/F3A86393234099BEDD558FD35AB538A6E4D9D4F99AD5ADFA13F603D4FF8A42DC/VC_redist.x86.exe ?>
  <Fragment>
    <util:RegistrySearch Root="HKLM"
          Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\{9BE518E6-ECC6-35A9-88E4-87755C07200F}"
          Variable="CPP2008Redist"
          Result="exists"/>
    <PackageGroup Id="redist_vc8">
        <ExePackage Id="vc8" Cache="remove" PerMachine="yes" Vital="yes" Compressed="$(var.BundlePackageCompressed)" Permanent="yes"
          Name="vcredist_vc8_x86.exe"
          SourceFile="SourceDir\vcredist_vc8_x86.exe"
          DownloadUrl="$(var.VC08RedistWebLink)"
          InstallArguments="/Q /norestart"
          DetectCondition="CPP2008Redist">
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Value="1638" Behavior="success"/>
        <ExitCode Value="3010" Behavior="forceReboot" />
        <ExitCode Value="1641" Behavior="forceReboot" />
      </ExePackage>
    </PackageGroup>
  </Fragment>
  <Fragment>
    <util:RegistrySearch Root="HKLM"
          Key="SOFTWARE\Microsoft\VisualStudio\10.0\VC\VCRedist\x86"
          Variable="CPP2010Redist"
          Value="Installed"
          Result="value"/>
    <util:RegistrySearch Root="HKLM"
          Key="SOFTWARE\Microsoft\VisualStudio\10.0\VC\VCRedist\x86\KB2565063"
          Variable="CPP2010RedistSecurity"
          Value="Present"
          Result="value"/>
    <PackageGroup Id="redist_vc10">
        <ExePackage Id="vc10" Cache="remove" PerMachine="yes" Vital="yes" Compressed="$(var.BundlePackageCompressed)" Permanent="yes"
          Name="vcredist_vc10_x86.exe"
          SourceFile="SourceDir\vcredist_vc10_x86.exe"
          DownloadUrl="$(var.VC10RedistWebLink)"
          InstallArguments="/quiet /norestart"
          DetectCondition="CPP2010Redist AND CPP2010RedistSecurity">
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Value="1638" Behavior="success"/>
        <ExitCode Value="3010" Behavior="forceReboot" />
        <ExitCode Value="1641" Behavior="forceReboot" />
      </ExePackage>
    </PackageGroup>
  </Fragment>
  <Fragment>
    <util:RegistrySearch Root="HKLM"
          Key="SOFTWARE\Microsoft\VisualStudio\11.0\VC\Runtimes\x86"
          Variable="CPP2012Redist"
          Value="Installed"
          Result="value"/>
    <PackageGroup Id="redist_vc11">
        <ExePackage Id="vc11" Cache="remove" PerMachine="yes" Vital="yes" Compressed="$(var.BundlePackageCompressed)" Permanent="yes"
          Name="vcredist_vc11_x86.exe"
          SourceFile="SourceDir\vcredist_vc11_x86.exe"
          DownloadUrl="$(var.VC11RedistWebLink)"
          InstallArguments="/quiet /norestart"
          DetectCondition="CPP2012Redist">
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Value="1638" Behavior="success"/>
        <ExitCode Value="3010" Behavior="forceReboot" />
        <ExitCode Value="1641" Behavior="forceReboot" />
      </ExePackage>
    </PackageGroup>
  </Fragment>
  <Fragment>
    <util:RegistrySearch Root="HKLM"
          Key="SOFTWARE\Microsoft\VisualStudio\12.0\VC\Runtimes\x86"
          Variable="CPP2013Redist"
          Value="Installed"
          Result="value"/>
    <PackageGroup Id="redist_vc12">
        <ExePackage Id="vc12" Cache="remove" PerMachine="yes" Vital="yes" Compressed="$(var.BundlePackageCompressed)" Permanent="yes"
          Name="vcredist_vc12_x86.exe"
          SourceFile="SourceDir\vcredist_vc12_x86.exe"
          DownloadUrl="$(var.VC12RedistWebLink)"
          InstallArguments="/quiet /norestart"
          DetectCondition="CPP2013Redist">
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Value="1638" Behavior="success"/>
        <ExitCode Value="3010" Behavior="forceReboot" />
        <ExitCode Value="1641" Behavior="forceReboot" />
      </ExePackage>
    </PackageGroup>
  </Fragment>
  <Fragment>
    <util:RegistrySearch Root="HKLM"
          Key="SOFTWARE\Microsoft\VisualStudio\14.0\VC\Runtimes\X86"
          Variable="CPP14RedistBld"
          Value="Bld"
          Result="value"/>
    <WixVariable Id="CPP14DetectCondition" Overridable="yes" Value="CPP14RedistBld &gt;= 30040" />
    <PackageGroup Id="redist_vc15to19">
        <ExePackage Id="vc14" Cache="remove" PerMachine="yes" Vital="yes" Compressed="$(var.BundlePackageCompressed)" Permanent="yes"
          Name="vc_redist_2015to2019_x86.exe"
          SourceFile="SourceDir\vc_redist_2015to2019_x86.exe"
          DownloadUrl="$(var.VC15to19RedistWebLink)"
          InstallArguments="/quiet /norestart"
          DetectCondition="!(wix.CPP14DetectCondition)">
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Value="3010" Behavior="forceReboot" />
        <ExitCode Value="1641" Behavior="forceReboot" />
      </ExePackage>
    </PackageGroup>
  </Fragment>
  <?elseif $(sys.BUILDARCH)="x64"?>
  <!-- 64bit  VC++ redistributable download section -->
  <?define VC08RedistWebLink = https://download.microsoft.com/download/5/D/8/5D8C65CB-C849-4025-8E95-C3966CAFD8AE/vcredist_x64.exe ?>
  <?define VC10RedistWebLink = https://download.microsoft.com/download/1/6/5/165255E7-1014-4D0A-B094-B6A430A6BFFC/vcredist_x64.exe ?>
  <?define VC11RedistWebLink = https://download.microsoft.com/download/1/6/B/16B06F60-3B20-4FF2-B699-5E9B7962F9AE/VSU_4/vcredist_x64.exe ?>
  <?define VC12RedistWebLink = https://download.microsoft.com/download/0/5/6/056DCDA9-D667-4E27-8001-8A0C6971D6B1/vcredist_x64.exe ?>
  <?define VC15to19RedistWebLink = https://download.visualstudio.microsoft.com/download/pr/36e45907-8554-4390-ba70-9f6306924167/97CC5066EB3C7246CF89B735AE0F5A5304A7EE33DC087D65D9DFF3A1A73FE803/VC_redist.x64.exe ?>
  <Fragment>
    <util:RegistrySearch Root="HKLM"
          Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\{5FCE6D76-F5DC-37AB-B2B8-22AB8CEDB1D4}"
          Variable="CPP2008Redist"
          Result="exists"/>
    <PackageGroup Id="redist_vc8">
        <ExePackage Id="vc8" Cache="remove" PerMachine="yes" Vital="yes" Compressed="$(var.BundlePackageCompressed)" Permanent="yes"
          Name="vcredist_vc8_x64.exe"
          SourceFile="SourceDir\vcredist_vc8_x64.exe"
          DownloadUrl="$(var.VC08RedistWebLink)"
          InstallArguments="/Q /norestart"
          DetectCondition="CPP2008Redist">
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Value="1638" Behavior="success"/>
        <ExitCode Value="3010" Behavior="forceReboot" />
        <ExitCode Value="1641" Behavior="forceReboot" />
      </ExePackage>
    </PackageGroup>
  </Fragment>
  <Fragment>
    <util:RegistrySearch Root="HKLM"
          Key="SOFTWARE\Microsoft\VisualStudio\10.0\VC\VCRedist\x64"
          Variable="CPP2010Redist64"
          Value="Installed"
          Result="value"/>
    <util:RegistrySearch Root="HKLM"
          Key="SOFTWARE\Microsoft\VisualStudio\10.0\VC\VCRedist\x64\KB2565063"
          Variable="CPP2010Redist64Security"
          Value="Present"
          Result="value"/>
    <util:RegistrySearch Root="HKLM"
          Key="SOFTWARE\WOW6432Node\Microsoft\VisualStudio\10.0\VC\VCRedist\x64"
          Variable="CPP2010Redist32"
          Value="Installed"
          Result="value"/>
    <util:RegistrySearch Root="HKLM"
          Key="SOFTWARE\WOW6432Node\Microsoft\VisualStudio\10.0\VC\VCRedist\x64\KB2565063"
          Variable="CPP2010Redist32Security"
          Value="Present"
          Result="value"/>
    <PackageGroup Id="redist_vc10">
        <ExePackage Id="vc10" Cache="remove" PerMachine="yes" Vital="yes" Compressed="$(var.BundlePackageCompressed)" Permanent="yes"
          Name="vcredist_vc10_x64.exe"
          SourceFile="SourceDir\vcredist_vc10_x64.exe"
          DownloadUrl="$(var.VC10RedistWebLink)"
          InstallArguments="/quiet /norestart"
          DetectCondition="(CPP2010Redist32 AND CPP2010Redist32Security) OR (CPP2010Redist64 AND CPP2010Redist64Security)">
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Value="1638" Behavior="success"/>
        <ExitCode Value="3010" Behavior="forceReboot" />
        <ExitCode Value="1641" Behavior="forceReboot" />
      </ExePackage>
    </PackageGroup>
  </Fragment>
  <Fragment>
    <util:RegistrySearch Root="HKLM"
          Key="SOFTWARE\Microsoft\VisualStudio\11.0\VC\Runtimes\x64"
          Variable="CPP2012Redist64"
          Value="Installed"
          Result="value"/>
    <util:RegistrySearch Root="HKLM"
          Key="SOFTWARE\WOW6432Node\Microsoft\VisualStudio\11.0\VC\Runtimes\x64"
          Variable="CPP2012Redist32"
          Value="Installed"
          Result="value"/>
    <PackageGroup Id="redist_vc11">
        <ExePackage Id="vc11" Cache="remove" PerMachine="yes" Vital="yes" Compressed="$(var.BundlePackageCompressed)" Permanent="yes"
          Name="vcredist_vc11_x64.exe"
          SourceFile="SourceDir\vcredist_vc11_x64.exe"
          DownloadUrl="$(var.VC11RedistWebLink)"
          InstallArguments="/quiet /norestart"
          DetectCondition="(CPP2012Redist32) OR (CPP2012Redist64)">
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Value="1638" Behavior="success"/>
        <ExitCode Value="3010" Behavior="forceReboot" />
        <ExitCode Value="1641" Behavior="forceReboot" />
      </ExePackage>
    </PackageGroup>
  </Fragment>
  <Fragment>
    <util:RegistrySearch Root="HKLM"
          Key="SOFTWARE\Microsoft\VisualStudio\12.0\VC\Runtimes\x64"
          Variable="CPP2013Redist64"
          Value="Installed"
          Result="value"/>
    <util:RegistrySearch Root="HKLM"
          Key="SOFTWARE\WOW6432Node\Microsoft\VisualStudio\12.0\VC\Runtimes\x64"
          Variable="CPP2013Redist32"
          Value="Installed"
          Result="value"/>
    <PackageGroup Id="redist_vc12">
        <ExePackage Id="vc12" Cache="remove" PerMachine="yes" Vital="yes" Compressed="$(var.BundlePackageCompressed)" Permanent="yes"
          Name="vcredist_vc12_x64.exe"
          SourceFile="SourceDir\vcredist_vc12_x64.exe"
          DownloadUrl="$(var.VC12RedistWebLink)"
          InstallArguments="/quiet /norestart"
          DetectCondition="(CPP2013Redist32) OR (CPP2013Redist64)">
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Value="1638" Behavior="success"/>
        <ExitCode Value="3010" Behavior="forceReboot" />
        <ExitCode Value="1641" Behavior="forceReboot" />
      </ExePackage>
    </PackageGroup>
  </Fragment>
  <Fragment>
    <util:RegistrySearch Root="HKLM"
          Key="SOFTWARE\Microsoft\VisualStudio\14.0\VC\Runtimes\X64"
          Variable="CPP14RedistBld"
          Value="Bld"
          Result="value"/>
    <WixVariable Id="CPP14DetectCondition" Overridable="yes" Value="CPP14RedistBld &gt;= 30040" />
    <PackageGroup Id="redist_vc15to19">
        <ExePackage Id="vc14" Cache="remove" PerMachine="yes" Vital="yes" Compressed="$(var.BundlePackageCompressed)" Permanent="yes"
          Name="vc_redist_2015to2019_x64.exe"
          SourceFile="SourceDir\vc_redist_2015to2019_x64.exe"
          DownloadUrl="$(var.VC15to19RedistWebLink)"
          InstallArguments="/quiet /norestart"
          DetectCondition="!(wix.CPP14DetectCondition)">
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Value="3010" Behavior="forceReboot" />
        <ExitCode Value="1641" Behavior="forceReboot" />
      </ExePackage>
    </PackageGroup>
  </Fragment>
  <?else?>
    <?error Unsupported value of sys.BUILDARCH=$(sys.BUILDARCH)?>
  <?endif?>
  <?include ../Common/Redistributables.wxi?>
</Wix>
