<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <Package Name="$(var.ApplicationName) $(var.MajorVersion) Packages"
           ProductCode="$(var.ProductCode)"
           UpgradeCode="$(var.UpgradeCode)"
           Language="1033"
           Version="$(var.VersionNumber)"
           Manufacturer="$(var.Manufacturer)"
           InstallerVersion="300"
           Compressed="yes"
           Scope="perMachine">

    <SummaryInformation Keywords="Installer"
                        Description="$(var.ApplicationName) $(var.MajorVersion).$(var.MinorVersion) Installer"
                        Codepage="1252" />

    <MajorUpgrade DowngradeErrorMessage="A later version of $(var.ApplicationName) is already installed."
                  AllowSameVersionUpgrades="no" />

    <Icon Id="Installer_Icon.ico" SourceFile="..\resources\Installer.ico" />
    <Icon Id="Application_Icon.ico" SourceFile="..\resources\App.ico" />
    
    <Property Id="BUNDLE_ID_GUID" Value="DefaultValue"/>
    <Property Id="FULL_VERSION_NUMBER" Value="$(var.VersionNumber)"/>
    <Property Id="ARPPRODUCTICON" Value="Installer_Icon.ico" />
    <Property Id="ARPNOREMOVE" Value="1" />
    <Property Id="DISPLAYNAME" Value="$(var.ApplicationName) $(var.MajorVersion)" />

    <?include ../Common/Overrides.wxi?>

    <Binary Id="MyCustomActionsDll" SourceFile="../CustomActions/CustomActions/bin/Release/CustomActions.CA.dll" />

    <CustomAction Id="CheckApplicationPath" Return="check" Execute="immediate" BinaryRef="MyCustomActionsDll" DllEntry="CheckAppPath" />
    <CustomAction Id="DeleteRegistryVersionNumber" Return="check" Execute="immediate" BinaryRef="MyCustomActionsDll" DllEntry="DeleteVersionNumberFromRegistry" />
    <Property Id="REGISTRYVERSIONKEY" Value="$(var.SafeApplicationName)\Version" />

    <CustomAction Id="CloseApplications" Return="check" BinaryRef="MyCustomActionsDll" DllEntry="ClosePrompt" />
    <Property Id="PromptToCloseProcesses" Value="$(var.SafeApplicationName)" />
    <Property Id="PromptToCloseDisplayNames" Value="$(var.ApplicationName)" />

    <Property Id="DATAFOLDER" Secure="yes">
      <RegistrySearch Id="RegSearchDataFolder" Root="HKLM" Key="SOFTWARE\[REGISTRYKEY]" Name="[DATAFOLDERREGSZNAME]" Type="raw" />
    </Property>

    <CustomAction Id="SetDefDataFolder" Property="DEFDATAFOLDER" Value="[WindowsVolume]My$(var.SafeApplicationName)DataFolder" />
    <Property Id="DATAFOLDERFOUND" Value="unset" />
    <CustomAction Id="VerifyDataPath" Return="check" Execute="immediate" BinaryRef="MyCustomActionsDll" DllEntry="VerifyDataDirPath" />
    
    <SetProperty Id="REGISTRYKEY" Value="$(var.SafeApplicationName)\$(var.MajorVersion)" Before="AppSearch">not REGISTRYKEY</SetProperty>
    <SetProperty Id="APPFOLDERREGSZNAME" Value="Program_Files_Directory_$(var.SafeApplicationName)" Before="AppSearch">not APPFOLDERREGSZNAME</SetProperty>
    <SetProperty Id="DATAFOLDERREGSZNAME" Value="Settings_Directory" Before="AppSearch">not DATAFOLDERREGSZNAME</SetProperty>
    <SetProperty Id="HARVESTDATAFOLDERREGSZNAME" Value="Data_Directory" Before="AppSearch">not HARVESTDATAFOLDERREGSZNAME</SetProperty>
    
    <CustomAction Id="UseDefDataFolder" Property="DATAFOLDER" Value="[DEFDATAFOLDER]" />
    <CustomAction Id="UseOvrDataFolder" Property="DATAFOLDER" Value="[OVRDATAFOLDER]" />
    <CustomAction Id="UseRegDataFolder" Property="DATAFOLDER" Value="[REGDATAFOLDER]" />
    <CustomAction Id="UseDefHarvestDataFolder" Property="HARVESTDATAFOLDER" Value="[DATAFOLDER]" />
    <CustomAction Id="UseOvrHarvestDataFolder" Property="HARVESTDATAFOLDER" Value="[OVRHARVESTDATAFOLDER]" />

    <CustomAction Id="CheckUpgradeValue" Property="ISUPGRADE" Value="True" />
    <CustomAction Id="CheckPatchValue" Property="ISPATCH" Value="True" />

    <InstallExecuteSequence>
      <Custom Action="CloseApplications" Before="AppSearch" />
      <Custom Action="DeleteRegistryVersionNumber" Before="RemoveRegistryValues">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
      <Custom Action="CheckPatchValue" Before="CheckUpgradeValue">PATCHNEWSUMMARYSUBJECT="Small Update Patch"</Custom>
      <Custom Action="CheckUpgradeValue" After="InstallFinalize">WIX_UPGRADE_DETECTED</Custom>
      <?include ../Common/CustomActionSteps.wxi?>
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Action="SetDefDataFolder" After="FindRelatedProducts" />
      <Custom Action="VerifyDataPath" After="SetDefDataFolder" />
      <Custom Action="UseDefAppFolder" After="AppSearch">(NOT REGAPPFOLDER) and (NOT OVRAPPFOLDER)</Custom>
      <Custom Action="UseOvrAppFolder" After="AppSearch">(NOT REGAPPFOLDER) and (OVRAPPFOLDER)</Custom>
      <Custom Action="UseRegAppFolder" After="AppSearch">REGAPPFOLDER</Custom>
      <Custom Action="UseDefDataFolder" After="AppSearch">(NOT REGDATAFOLDER) and (NOT OVRDATAFOLDER)</Custom>
      <Custom Action="UseOvrDataFolder" After="AppSearch">(NOT REGDATAFOLDER) and (OVRDATAFOLDER)</Custom>
      <Custom Action="UseRegDataFolder" After="AppSearch">REGDATAFOLDER</Custom>
      <Custom Action="UseDefHarvestDataFolder" After="AppSearch">NOT OVRHARVESTDATAFOLDER</Custom>
      <Custom Action="UseOvrHarvestDataFolder" After="AppSearch">OVRHARVESTDATAFOLDER</Custom>
    </InstallUISequence>

    <MediaTemplate EmbedCab="yes" />
    <Property Id="DiskPrompt" Value="$(var.ApplicationName) $(var.MajorVersion).$(var.MinorVersion) Installation [1]" />

    <WixVariable Id="WixUIBannerBmp" Value="..\resources\bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="..\resources\MsiBackground.bmp" />

    <SetProperty Id="DEFAPPFOLDER" Value="[$(var.PFDir)]$(var.SafeApplicationName)$(var.MajorVersion)\" Before="AppSearch">not DEFAPPFOLDER</SetProperty>
    <CustomAction Id="UseDefAppFolder" Property="APPFOLDER" Value="[DEFAPPFOLDER]" />
    <CustomAction Id="UseOvrAppFolder" Property="APPFOLDER" Value="[OVRAPPFOLDER]" />
    <CustomAction Id="UseRegAppFolder" Property="APPFOLDER" Value="[REGAPPFOLDER]" />

    <Property Id="REGAPPFOLDER">
      <RegistrySearch Id="RegistryAppFolder" Root="HKLM" Key="SOFTWARE\[REGISTRYKEY]" Name="[APPFOLDERREGSZNAME]" Type="directory" />
    </Property>
    <Property Id="APPFOLDERFOUND" Value="NotFound">
      <RegistrySearch Id="RegistryAppBool" Root="HKLM" Key="SOFTWARE\[REGISTRYKEY]" Name="[APPFOLDERREGSZNAME]" Type="raw" />
    </Property>

    <SetProperty Id="EXPLANATIONTEXT" After="AppSearch" Value="Since this is an upgrade of an existing $(var.ApplicationName) $(var.MajorVersion) installation, you can't change the location of the data folder.">
      <![CDATA[DATAFOLDERFOUND = "AlreadyExisting"]]>
    </SetProperty>

    <Property Id="WIXUI_INSTALLDIR" Value="APPFOLDER" />
    <Property Id="WIXUI_PROJECTSDIR" Value="DATAFOLDER" />

    <UI>
      <UIRef Id="WixUI_DialogFlow" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>

    <StandardDirectory Id="TARGETDIR">
      <Directory Id="DATAFOLDER" Name="[DATAFOLDER]">
        <Component Id="RegKeySettingsDir" Permanent="yes" Guid="*">
          <CreateFolder>
            <util:PermissionEx User="AuthenticatedUser" GenericAll="yes" />
          </CreateFolder>
          <RegistryKey Root="HKLM" Key="SOFTWARE\[REGISTRYKEY]" ForceDeleteOnUninstall="yes">
            <RegistryValue Name="[DATAFOLDERREGSZNAME]" Type="string" Value="[DATAFOLDER]" KeyPath="yes" />
          </RegistryKey>
        </Component>
      </Directory>
      <Directory Id="HARVESTDATAFOLDER" Name=".">
        <Component Id="HarvestDataDir" Guid="*">
          <CreateFolder>
            <util:PermissionEx User="AuthenticatedUser" GenericAll="yes" />
          </CreateFolder>
          <RegistryKey Root="HKLM" Key="SOFTWARE\[REGISTRYKEY]" ForceDeleteOnUninstall="yes">
            <RegistryValue Name="[HARVESTDATAFOLDERREGSZNAME]" Type="string" Value="[OVRHARVESTDATAFOLDER]" KeyPath="yes" />
          </RegistryKey>
        </Component>
      </Directory>
      <Directory Id="FontsFolder" />
      <StandardDirectory Id="DesktopFolder">
        <Component Id="ApplicationShortcutDesktop" Guid="*">
          <Shortcut Id="ApplicationDesktopShortcut"
                    Name="$(var.ApplicationName) $(var.MajorVersion)"
                    Description="$(var.ApplicationName) $(var.MajorVersion)"
                    Target="[APPFOLDER]$(var.SafeApplicationName).exe"
                    WorkingDirectory="APPFOLDER"
                    Icon="Application_Icon.ico" />
          <RemoveFolder Id="DesktopFolder" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\$(var.SafeApplicationName)$(var.MajorVersion)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </StandardDirectory>
      <StandardDirectory Id="$(var.PFDir)">
        <Directory Id="APPFOLDER" Name="$(var.SafeApplicationName)$(var.MajorVersion)">
          <Component Id="RegKeyValues" Guid="*">
            <RegistryKey Root="HKLM" Key="SOFTWARE\[REGISTRYKEY]" ForceDeleteOnUninstall="yes">
              <RegistryValue Name="[APPFOLDERREGSZNAME]" Type="string" Value="[APPFOLDER]" />
              <RegistryValue Name="$(var.SafeApplicationName)Version" Type="string" Value="$(var.VersionNumber)" />
            </RegistryKey>
          </Component>
          <Component Id="Vapor" Guid="3C4B8E68-6147-482F-B7ED-17C485024AEF" KeyPath="yes" />
        </Directory>
        <StandardDirectory Id="$(var.CFDir)">
          <Directory Id="CompanyCommonFilesFolder" Name="$(var.SafeManufacturer)">
            <Component Id="ProcRunner" Guid="*" Permanent="yes" UninstallWhenSuperseded="yes" NeverOverwrite="no">
              <File Id="ProcRunnerFile" Name="ProcRunner_5.0.exe" Source="../ProcRunner/ProcRunner/bin/Release/net48/ProcRunner_5.0.exe" KeyPath="yes" />
            </Component>
          </Directory>
        </StandardDirectory>
      </StandardDirectory>
      <StandardDirectory Id="ProgramMenuFolder">
        <Component Id="ApplicationShortcutMenu" Guid="*">
          <Shortcut Id="ApplicationStartMenuShortcut"
                    Name="$(var.ApplicationName) $(var.MajorVersion)"
                    Description="$(var.ApplicationName) $(var.MajorVersion)"
                    Target="[APPFOLDER]$(var.SafeApplicationName).exe"
                    WorkingDirectory="APPFOLDER"
                    Icon="Application_Icon.ico" />
          <Shortcut Id="UninstallProduct"
                    Name="Uninstall $(var.ApplicationName)"
                    Target="[SystemFolder]msiexec.exe"
                    Arguments="/x [ProductCode]"
                    Description="Uninstalls $(var.ApplicationName)" />
          <RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.SafeApplicationName)$(var.MajorVersion)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </StandardDirectory>
    </StandardDirectory>

    <?include ../Common/CustomComponents.wxi?>

    <Feature Id="Complete" Title="$(var.ApplicationName) $(var.MajorVersion).$(var.MinorVersion)" Description="The complete package."
             Display="expand" Level="1" AllowAdvertise="no" InstallDefault="source" Absent="disallow">
      <ComponentRef Id="Vapor" />
      <ComponentGroupRef Id="HarvestedAppFiles" />
      <ComponentRef Id="RegKeyValues" />
      <ComponentRef Id="RegKeySettingsDir" />
      <ComponentRef Id="HarvestDataDir" />
      <ComponentRef Id="ProcRunner" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
      <ComponentRef Id="ApplicationShortcutMenu" />
      <?include ../Common/CustomFeatures.wxi?>
    </Feature>
  </Package>
</Wix>
