<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SIL.ObjectBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="FDOBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<SIL.ObjectBrowser.Properties.Settings>
			<setting name="MainWndLocation" serializeAs="String">
				<value>0, 0</value>
			</setting>
			<setting name="MainWndSize" serializeAs="String">
				<value>0, 0</value>
			</setting>
			<setting name="UseShading" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ShadeColor" serializeAs="String">
				<value>Gainsboro</value>
			</setting>
			<setting name="RUFile1" serializeAs="String">
				<value/>
			</setting>
			<setting name="RUFile2" serializeAs="String">
				<value/>
			</setting>
			<setting name="RUFile3" serializeAs="String">
				<value/>
			</setting>
			<setting name="RUFile4" serializeAs="String">
				<value/>
			</setting>
			<setting name="RUFile5" serializeAs="String">
				<value/>
			</setting>
			<setting name="RUFile6" serializeAs="String">
				<value/>
			</setting>
			<setting name="RUFile7" serializeAs="String">
				<value/>
			</setting>
			<setting name="RUFile8" serializeAs="String">
				<value/>
			</setting>
			<setting name="RUFile9" serializeAs="String">
				<value/>
			</setting>
		</SIL.ObjectBrowser.Properties.Settings>
		<FDOBrowser.Properties.Settings>
			<setting name="MainWndLocation" serializeAs="String">
				<value>0, 0</value>
			</setting>
			<setting name="MainWndSize" serializeAs="String">
				<value>0, 0</value>
			</setting>
			<setting name="ModelWndSplitterLocation" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="ModelWndCol0Width" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="ModelWndCol1Width" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="ModelWndCol2Width" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="ModelWndCol3Width" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="ModelWndCol4Width" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="ShowCmObjectProperties" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="UseShading" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ShadeColor" serializeAs="String">
				<value>Gainsboro</value>
			</setting>
			<setting name="RUFile1" serializeAs="String">
				<value/>
			</setting>
			<setting name="RUFile2" serializeAs="String">
				<value/>
			</setting>
			<setting name="RUFile3" serializeAs="String">
				<value/>
			</setting>
			<setting name="RUFile4" serializeAs="String">
				<value/>
			</setting>
			<setting name="RUFile5" serializeAs="String">
				<value/>
			</setting>
			<setting name="RUFile6" serializeAs="String">
				<value/>
			</setting>
			<setting name="RUFile7" serializeAs="String">
				<value/>
			</setting>
			<setting name="RUFile8" serializeAs="String">
				<value/>
			</setting>
			<setting name="RUFile9" serializeAs="String">
				<value/>
			</setting>
		</FDOBrowser.Properties.Settings>
	</userSettings>
	<startup/></configuration>
