<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SIL.FieldWorks.Common.FwUtils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SIL.FieldWorks.Common.FwUtils.Properties.Settings>
            <setting name="UpdateGlobalWSStore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WebonaryUser" serializeAs="String">
                <value />
            </setting>
            <setting name="WebonaryPass" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalKeyboards" serializeAs="String">
                <value />
            </setting>
        </SIL.FieldWorks.Common.FwUtils.Properties.Settings>
    </userSettings>
</configuration>