gloss {
	display:inline
	}
langData {
	display:inline
	}
p {
	display:block;
	font-style:normal;
	color:black;
	font-weight:normal
	}
author {
	display:block;
	line-height:14pt;
	color:black;
	text-align:center
	}
title {
	display:block;
	font-size:xx-large;
	font-weight:bolder;
	color:black;
	line-height:22pt;
	text-align:center
	}
listInterlinear {
	display:block;
	margin-left:10pt;
	margin-right:5pt;
	margin-top:5pt;
	margin-bottom:5pt;
	padding-left:1pt;
	padding-right:1pt;
	padding-top:1pt;
	padding-bottom:1pt;
	border-left-width:1pt;
	border-right-width:1pt;
	border-top-width:1pt;
	border-bottom-width:1pt;
	border-right-style:dashed;
	border-left-style:dashed;
	border-top-style:dashed;
	border-bottom-style:dashed
	}
interlinear {
	display:block;
	margin-left:10pt;
	margin-right:10pt;
	margin-top:10pt;
	margin-bottom:10pt;
	padding-left:1pt;
	padding-right:1pt;
	padding-top:1pt;
	padding-bottom:1pt;
	border-left-width:1pt;
	border-right-width:1pt;
	border-top-width:1pt;
	border-bottom-width:1pt;
	border-right-style:dashed;
	border-left-style:dashed;
	border-top-style:dashed;
	border-bottom-style:dashed
	}
free {
	display:block
	}
line {
	display:block
	}
exampleRef[equal=yes]:before {
	content:"(=" attr(num) attr(letter);
	color:aqua
	}
exampleRef[equal=yes]:after {
	content:")";
	color:aqua
	}
exampleRef[equal=no]:before {
	content:"(" attr(num) attr(letter);
	color:blue
	}
exampleRef[equal=no]:after {
	content:")";
	color:blue
	}
secTitle {
	display:block;
	font-size:inherit;
	color:blue
	}
section1:before {
	content:counter(section);
	counter-increment:section 1;
	counter-reset:sectionTwo 0
	}
section1 {
	display:block;
/* 	list-style-type:decimal; */
	color:black;
	}
language {
	display:block;
	font-size:smaller;
	color:aqua
	}
*.carolinian {
	font-weight:bold;
	color:blue
	}
*.nahuatl {
	color:rgb(68, 102, 136)
	}
*.english {
	color:maroon
	}
*.spanish {
	color:purple
	}
SPAN.attribute {
	font-family:fixed;
	color:purple
	}
SPAN.element {
	font-family:fixed;
	color:maroon
	}
span.super {
	vertical-align:super;
	font-size:65%
	}
TD.CarolinianVowelChartCol {
	text-align:center
	}
sectionRef[sec]:before {
	content:"(=" attr(sec);
	color:gray
	}
sectionRef[sec]:after {
	content:")";
	color:gray
	}
