[submodule "Lib/src/SharpZipLib"]
	path = Lib/src/SharpZipLib
	url = git://github.com/icsharpcode/SharpZipLib.git
[submodule "Build/Src/msbuildtasks"]
	path = Build/Src/msbuildtasks
	url = git://github.com/ermshiperete/msbuildtasks.git
[submodule "Lib/src/icu"]
	path = Lib/src/icu
	url = git://github.com/sillsdev/icu4c.git
