*.cs	diff=csharp
*.cpp	diff=cpp
*.h	diff=cpp
*.idh	diff=cpp
*.fwdictconfig	diff=xml

*.config -whitespace
*.csproj -whitespace
*.Designer.cs -whitespace
*.designer.cs -whitespace
*.fwdictconfig -whitespace
*.patch -whitespace
*.proj -whitespace
*.ReSharper -whitespace
*.resx -whitespace
*.settings -whitespace
*.svg -whitespace
*.vcxproj -whitespace
*.vcxproj.filters -whitespace
*.vdproj -whitespace
*.xml -whitespace
changelog -whitespace
FwHelpAbout.cs -whitespace
LICENSE -whitespace
RealSplashScreen.cs -whitespace
run-app -whitespace
*.json -whitespace
