# Generated or Downloaded (as part of the build process)
GeneratedAssemblyInfo.cs
Collection.cpp
Build/FieldWorks.targets
Build/GlobalInclude.properties
Build/LibraryDevelopment.properties
Build/NuGet.exe
Build/nunit.framework.dll
Build/nunit.framework.xml
Build/packages.config
Build/*.pdb
Src/Common/ViewsInterfaces/Views.cs
DistFiles/Data/
DistFiles/Languages/
DistFiles/Installers/
DistFiles/Helps/
DistFiles/Language Explorer/Movies/
DistFiles/ReleaseData/
DistFiles/SIL/Repository/
Downloads/
Installer/
Localizations/
packages/
Bin/_setLatestBuildConfig.bat
Bin/_setroot.bat
Lib/debug/DebugProcs.lib
Lib/debug/Generic.lib
Lib/debug/unit++.lib
Lib/debug/unit++.pdb
Lib/release/DebugProcs.lib
Lib/release/Generic.lib
Lib/release/unit++.lib
DistFiles/Parts/Generated.fwlayout
Lib/src/Ethnologue/GeneratedEthnologue.cs
Src/FwParatextLexiconPlugin/GeneratedParatextLexiconPluginRegistryHelper.cs
Src/Common/FwUtils/GeneratedFwUtils.cs
Src/CommonAssemblyInfo.cs
Src/LangInst/InstallLanguageTests/timing.txt

# other files
*.user
*.ncrunchsolution
*.ncb
*.sln
*.suo
*.o
*_ReSharper*
*~
_user.mak.lnx
*.pidb
*.userprefs
*.usertasks
*.resources
*.bak
*.swp
*.pyc
*.log
*.vshost.exe*
*.sdf
*.opensdf
.project
*.VC.db
*.VC.opendb

.dotest/
.depend
Lib/linux/Common/*.d
Lib/linux/Common/*.raw
[Oo]bj/
Obj_i686/
Obj_x86_64/
buildi686/
buildx86_64/
installi686/
installx86_64/
test-results/
trash/
UpgradeLog*.XML
_UpgradeReport_Files/
/Debug/
/Release/
Output/
Output
Output_i686/
Output_x86_64/
Lib/src/unit++/autom4te.cache/
Lib/src/unit++/configure
Lib/src/unit++/VS/*/
Lib/src/Enchant/fieldworks-enchant-1.6.1/
Src/Kernel/libFwKernel
Src/views/libViews
Src/views/libVwGraphics
Bin/src/CodeGen/CodeGen
debian/
DistFiles/FwResources.dll
DistFiles/TeResources.dll
DistFiles/Parts/GeneratedLayouts.xml
DistFiles/Parts/GeneratedParts.xml
DistFiles/Projects/
DistFiles/Editorial\ Checks/ScrChecks.dll*
DistFiles/Editorial\ Checks/ScrChecks.pdb
DistFiles/Language\ Explorer/Configuration/Available\ Plugins/
Src/AppCore/libAppCore
Src/DebugProcs/libDebugProcs
Src/Generic/libGeneric
Src/Language/libLanguage
xulrunner/*

DistFiles/ReleaseData/
# Locally configurable project to run FieldWorks
/RunFieldWorks.csproj

# Exceptions
!Lib/Windows/Debug
!Lib/Windows/Release
!Lib/linux/Debug
!Lib/linux/Release

Lib/debug/graphite2.lib
Lib/release/graphite2.lib
Lib/linux/libfieldworks-fdo.pc
Lib/linux/Debug/libgraphite2.a
Lib/linux/Release/libgraphite2.a

Lib/icu*.lib
DistFiles/Icu*/data
DistFiles/Icu*/icudt*l
DistFiles/Icu*/*.*
Bin/NUnit/
.idea/
DistFiles/Styles.dtd
DistFiles/Templates/GOLDEtic.xml
DistFiles/Templates/NewLangProj.fwdata
DistFiles/Templates/POS.xml
DistFiles/Templates/SemDom.xml

Src/Kernel/FwKernelTlb.idl
Src/Kernel/*.idh
