*.cs	diff=csharp
*.cpp	diff=cpp
*.h	diff=cpp
*.idh	diff=cpp

*.csproj -whitespace
*.resx -whitespace
*.Designer.cs -whitespace
*.vdproj -whitespace
*.config -whitespace
*.settings -whitespace
*.ReSharper -whitespace
*.vcxproj -whitespace
*.vcxproj.filters -whitespace
*.patch -whitespace
changelog -whitespace
