[submodule "Lib/src/SharpZipLib"]
	path = Lib/src/SharpZipLib
	url = git://github.com/icsharpcode/SharpZipLib.git
[submodule "Build/Src/msbuildtasks"]
	path = Build/Src/msbuildtasks
	url = git://github.com/ermshiperete/msbuildtasks.git
[submodule "Lib/src/icu"]
	path = Lib/src/icu
	url = git://github.com/sillsdev/icu4c.git
[submodule "Build/Src/Gendarme.MsBuild"]
	path = Build/Src/Gendarme.MsBuild
	url = git://github.com/sillsdev/Gendarme.MsBuild.git
[submodule "Lib/src/Machine"]
	path = Lib/src/Machine
	url = https://github.com/sillsdev/machine.git
[submodule "Lib/src/hunspell"]
	path = Lib/src/hunspell
	url = git://github.com/sillsdev/hunspell.git
