<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--
		This file is mainly needed for running tests on Jenkins. If this file doesn't
		exist we use default values (3333/3334).
	-->
	<appSettings>
		<add key="ServerPort" value="3333" />
		<add key="ReplyPort" value="3334" />
	</appSettings>
</configuration>