<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="icu.net" publicKeyToken="416fdd914afa6b66" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.13.3.0" newVersion="3.13.3.0" />
			</dependentAssembly>
<!--
Comment out the following section when the ParatextData and FieldWorks versions of libpalaso converge
Also, comment out separate items in mkall.targets and packages.config
-->
			<dependentAssembly>
				<assemblyIdentity name="SIL.Core" publicKeyToken="cab3c8c5232dfcf2" culture="neutral" />
				<codeBase version="0.0.0.0" href="SIL.Core.dll" />
				<codeBase version="8.1.0.0" href="lib\ParatextDeps\SIL.Core.dll" />
				<bindingRedirect oldVersion="11.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="SIL.Scripture" publicKeyToken="cab3c8c5232dfcf2" culture="neutral" />
				<codeBase version="0.0.0.0" href="SIL.Scripture.dll" />
				<codeBase version="8.1.0.0" href="lib\ParatextDeps\SIL.Scripture.dll" />
				<bindingRedirect oldVersion="11.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="SIL.WritingSystems" publicKeyToken="cab3c8c5232dfcf2" culture="neutral" />
				<codeBase version="0.0.0.0" href="SIL.WritingSystems.dll" />
				<codeBase version="8.1.0.0" href="lib\ParatextDeps\SIL.WritingSystems.dll" />
				<bindingRedirect oldVersion="11.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>