<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Palaso.Progress.LogBox.LogBoxSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="Palaso.Progress.LogBox.LogBox" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="Palaso.Reporting.UsageMemory" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<Palaso.Progress.LogBox.LogBoxSettings>
			<setting name="FontName" serializeAs="String">
				<value />
			</setting>
			<setting name="FontSize" serializeAs="String">
				<value>9</value>
			</setting>
		</Palaso.Progress.LogBox.LogBoxSettings>
		<Palaso.Progress.LogBox.LogBox>
			<setting name="FontName" serializeAs="String">
				<value />
			</setting>
		</Palaso.Progress.LogBox.LogBox>
		<Palaso.Reporting.UsageMemory>
			<setting name="Launches" serializeAs="String">
				<value>0</value>
			</setting>
		</Palaso.Reporting.UsageMemory>
	</userSettings>
</configuration>