/*-----------------------------------------------------------------------*//*:Ignore in Surveyor
Copyright (c) 2000-2013 SIL International
This software is licensed under the LGPL, version 2.1 or later
(http://www.gnu.org/licenses/lgpl-2.1.html)

File: NetworkTreeView.rc
Responsibility: John Wimbish
Last reviewed: Not yet.

Description:
	Resources for the NetworkTreeView (a tree control for showing the network neighborhood).
-------------------------------------------------------------------------------*//*:End Ignore*/
#include "..\..\Widgets\Res\NetworkTreeViewRes.h"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

// Images for the Network Tree Control
kridImagesNetwork  BITMAP DISCARDABLE "..\..\Widgets\Res\NetworkImages.bmp"

// Strings for the Network Tree Control
STRINGTABLE DISCARDABLE
BEGIN
	kridNetNeighboorhood        "Network Neighborhood"
	kridNetEntireNetwork        "Entire Network"
	kridNetWindowsNetwork       "Microsoft Windows Network"
END

#endif    // English (U.S.) resources
