// Resources used by generic code
#include "GenericResource.h"

// TODO DevLeader(JohnT): move these out of AppCore; include this file everywhere it's needed.
STRINGTABLE DISCARDABLE
BEGIN
	kstidInternalError      "A programming error (%<0>s) has been detected in module %<1>s.\n Please report this to the developers."
	kstidOutOfMemory        "Out of memory. To attempt Save, close other apps and click OK. To quit without saving click Cancel."
//  kstidUndoFrame      "&Undo %<0>s"
//  kstidRedoFrame      "&Redo %<0>s"
END


// Strings to qualify date settings:
STRINGTABLE DISCARDABLE
BEGIN
	kstidDateQualBefore     "Before"
	kstidDateQualOn         "On"
	kstidDateQualAbout      "About"
	kstidDateQualAfter      "After"
	kstidDateQualAbt        "Abt"
	kstidDateQualBC         "BC"
	kstidDateQualAD         "AD"
	kstidDateBlank          "No date"
	kstidDateBlankM         "Unknown"
	kstidDateBlankD         "Unknown"
END


// File access errors--strings are taken from WinError.h
STRINGTABLE DISCARDABLE
BEGIN
	kstidFileErrUnknown         "An unknown failure occurred."
	kstidFileErrNotFound        "The system cannot find the file specified."
	kstidFileErrPathNotFound    "The system cannot find the path specified."
	kstidFileErrTooManyFiles    "The system cannot open the file."
	kstidFileErrAccDenied       "Access is denied."
	kstidFileErrBadHandle       "The handle is invalid."
	kstidFileErrBadDrive        "The system cannot find the drive specified."
	kstidFileErrWriteProtect    "The media is write protected."
	kstidFileErrBadUnit         "The system cannot find the device specified."
	kstidFileErrNotReady        "The device is not ready."
	kstidFileErrSeek            "The drive cannot locate the specific area or track on the disk."
	kstidFileErrNotDosDisk      "The specified disk or diskette cannot be accessed."
	kstidFileErrBadSector       "The drive cannot find the sector requested."
	kstidFileErrWriteFault      "The system cannot write to the specified device."
	kstidFileErrReadFault       "The system cannot read from the specified device."
	kstidFileErrGeneral         "A device attached to the system is not functioning."
	kstidFileErrSharing         "The process cannot access the file because it is being used by another process."
	kstidFileErrLock            "The process cannot access the file because another process has locked a portion of the file."
	kstidFileErrEof             "Reached the end of the file."
	kstidFileErrHandleDiskFull  "The disk is full."
	kstidFileErrBadNetPath      "The network path was not found."
	kstidFileErrNetworkBusy     "The network is busy."
	kstidFileErrNoDevice        "The specified network resource or device is not available."
	kstidFileErrNoNetAccess     "Network access is denied."
	kstidFileErrBadDevice       "The network resource type is not correct."
	kstidFileErrBadNetName      "The network name cannot be found."
	kstidFileErrExists          "The file exists."
	kstidFileErrCantMake        "The directory or file cannot be created."
	kstidFileErrBadPassword     "The specified network password is not correct."
	kstidFileErrNetWriteFault   "A write fault occurred on the network."
	kstidFileErrDriveLocked     "The disk is in use or locked by another process."
	kstidFileErrOpenFailed      "The system cannot open the device or file specified."
	kstidFileErrBufOverflow     "The file name is too long."
	kstidFileErrDiskFull        "There is not enough space on the disk."
	kstidFileErrBadName         "The filename, directory name, or volume label syntax is incorrect."
	kstidFileErrNoVolLabel      "The disk has no volume label."
	kstidFileErrAlreadyExists   "Cannot create a file when that file already exists."
END

STRINGTABLE DISCARDABLE
BEGIN
	kstidBrowseOK               "&OK"
	kstidBrowseOpen             "&Open"
END

// Error messages for the Xceed Zip system
STRINGTABLE DISCARDABLE
BEGIN
	kstidZipErrUnknown      "The zip module issued the following unrecognized error code: %<0>d."
	kstidZipErrRead         "The zip file (%s) cannot be accessed. It may have been deleted, it may be in use by another application, or there may be an error on the drive or its connection."
	kstidZipErrWrite        "The zip module cannot write to disk. The disk may have been removed, it may be full, or the drive may have been disconnected."
	kstidZipErrCorrupt      "The zip file (%s) cannot be understood. It may be corrupt."
	kstidZipErrAborted      "The zip operation was aborted by user."
	kstidZipErrEmpty        "The zip file (%s) was empty."
	kstidZipErrOpen         "The zip file (%s) cannot be opened. The path or file name generated by FieldWorks may be invalid, the zip file may not have the right access permissions, or it may have been opened by another application."
	kstidZipErrCreateTemp   "The zip module could not create a temporary work file."
	kstidZipErrNothingToDo  "There was nothing for the zip module to do."
	kstidZipErrMemory       "The system is out of memory."
	kstidZipErrWarnings     "The zip module issued one or more warnings."
	kstidZipErrFilesSkipped "At least one file in the zip archive was skipped due to errors."
	kstidZipErrUnlicensed   "The zip module is not licensed on this machine."

	kstidZipFailure         "Zip/Unzip has failed."
	kstidZipPossibleFailure "Zip/Unzip may fail."
	kstidZipSystem          "Zip/Unzip Module"

	kstidZipDiskInvalid         "This disk is not valid. It may be full, unformatted, write-protected, or faulty in some other way. Please insert a different disk."
	kstidZipAbort               "Abort backup"
	kstidUnzipDiskInvalid       "This disk is not disk %<0>d. Please insert correct disk. If you are certain that this is disk %<1>d, then it is faulty in some way."
	kstidUnzipLastDiskInvalid   "This disk is not the last disk. Please insert correct disk. If you are certain that this is the last disk, then it is faulty in some way."
	kstidZipQueryAbort          "Are you sure you wish to abort the backup operation?"
	kstidUnzipAbort             "Abort restore"
	kstidUnzipQueryAbort        "Are you sure you wish to abort the restore operation?"
	kstidZipDiskWriteError      "Cannot write to disk. Check that a disk is in drive %<0>s, and is writable."
	kstidUnzipInsertLastDisk    "Insert last disk of backup set into Drive %<0>s"
	kstidZipInsertDiskNum       "Insert backup disk #%<0>d into Drive %<1>s"
END

STRINGTABLE DISCARDABLE
BEGIN
	kstidDefaultSerif		"<default font>"            // corresponds to <default serif>
	kstidDefaultSans		"<default heading font>"    // corresponds to <default sans serif>
	kstidDefaultMono		"<default monospace>"       // corresponds to <default monospace>
	kstidDefaultBodyFont    "<default publication font>" // corresponds to <default body font>
END
