// Extracted from AfFindDlg.rc
kridAfReplaceDlg DIALOG DISCARDABLE  0, 0, 320, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT           "Find w&hat:",IDC_STATIC,7,10,34,8
	EDITTEXT        kctidFindWhat,58,7,202,14,ES_AUTOHSCROLL
	LTEXT           "Re&place with:",kctidReplaceLabel,7,31,44,8
	EDITTEXT        kctidFindReplaceWith,58,28,202,14,ES_AUTOHSCROLL
	DEFPUSHBUTTON   "&Find Next",kctidFindFindNow,263,7,50,14
	DEFPUSHBUTTON   "&Replace",kctidFindReplace,263,23,50,14
	DEFPUSHBUTTON   "Replace &All",kctidFindReplaceAll,263,39,50,14
	PUSHBUTTON      "Help...",kctidHelp,263,55,50,14
	PUSHBUTTON      "Close",kctidFindClose,263,71,50,14
	// The Stop button occupies the same space as the Close button:
	PUSHBUTTON      "Stop",kctidFindStop,263,71,50,14
	PUSHBUTTON      "More >>",kctidFindMoreLess,208,65,50,14
	GROUPBOX        "Find in:",kctidFindInBorder,2,46,154,44,NOT WS_VISIBLE
	COMBOBOX        kctidFindWhichEntries,65,54,90,30,CBS_DROPDOWNLIST | CBS_SORT | NOT WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
	CONTROL         "F&ield:",kctidFindFieldCheck,"Button",BS_AUTOCHECKBOX | NOT WS_VISIBLE | WS_TABSTOP,8,73,33,10
	COMBOBOX        kctidFindFieldCombo,65,70,90,30,CBS_DROPDOWN | CBS_SORT | NOT WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
	CONTROL         "Match &case",kctidFindMatchCase,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,102,53,10
	CONTROL         "Match &diacritics",kctidFindMatchDiacritics,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,73,102,65,10
	CONTROL         "Match as a &whole word",kctidFindMatchWholeWord,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,118,89,10
	PUSHBUTTON      "Sp&ecial    ",kctidFindSpecial,199,114,50,14,NOT WS_VISIBLE
	PUSHBUTTON      "F&ormat   ",kctidFindFormat,263,114,50,14
	CONTROL         "Animate1",kctidFindAnimation,"SysAnimate32",NOT WS_VISIBLE | WS_BORDER,162,46,41,33
	LTEXT           "",kctidSeparator,1,95,316,1,SS_SUNKEN
END
