// Extracted from AfStylesDlg.rc
kridAfStyleDlg DIALOGEX 0, 0, 399, 260
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Style"
FONT 8, "MS Sans Serif"
BEGIN
	DEFPUSHBUTTON   "OK",kctidClose,178,239,50,14
	PUSHBUTTON		"Ap&ply",kctidOk,233,239,50,14
	PUSHBUTTON      "Cancel",kctidCancel,288,239,50,14
	PUSHBUTTON      "Help",kctidHelp,342,239,50,14
	LTEXT           "&Styles:",IDC_STATIC,7,7,22,9
	CONTROL         "ListStyles",kctidLstStyles,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SORTASCENDING | LVS_EDITLABELS | LVS_NOCOLUMNHEADER | WS_BORDER | WS_VSCROLL | WS_TABSTOP,7,20,130,188
	CONTROL         "Tab1",kctidTabDlgs,"SysTabControl32",TCS_HOTTRACK | TCS_RAGGEDRIGHT | WS_TABSTOP,140,7,252,220
	PUSHBUTTON      "&Add",kctidAfsdBtnAdd,15,211,34,14
	PUSHBUTTON      "&Copy",kctidAfsdBtnCopy,51,211,34,14
	PUSHBUTTON      "&Delete",kctidAfsdBtnDel,87,211,40,14
	LTEXT           "",IDC_STATIC,7,228,385,1,SS_SUNKEN
END
