// Extracted from AfStylesDlg.rc
kridDelAndChgStylesWarningDlg DIALOGEX 0, 0, 250, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL			"", kctidDelAndChgStylesIcon, "Static", SS_ICON, 8,8,32,32
	LTEXT           "Warning: ",kctidDelAndChgStylesWarning,45,8,100,8
	LTEXT           "",kctidDelAndChgStylesText,45,18,196,56
	PUSHBUTTON		"&Yes",kctidOk,45,80,50,14
	PUSHBUTTON      "&No",kctidCancel,100,80,50,14
	PUSHBUTTON      "Help",kctidHelp,155,80,50,14
END
