// Extracted from WorldPad.rc
kridDocDlg DIALOG DISCARDABLE  0, 0, 168, 55
STYLE DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Document"
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT           "Direction:",IDC_STATIC,7,8,39,8
	CONTROL         "Left-to-right",kctidDocLtr,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,45,8,51,9
	CONTROL         "Right-to-left",kctidDocRtl,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,107,8,52,9
	DEFPUSHBUTTON   "OK",kctidOk,24,31,53,14
	PUSHBUTTON      "Cancel",kctidCancel,90,31,53,14
END
