// Extracted from FilPgSetDlg.rc
kridFilPgSetDlg DIALOGEX 0, 0, 275, 230
STYLE DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION |
	WS_SYSMENU
EXSTYLE WS_EX_CONTEXTHELP | WS_EX_CONTROLPARENT
CAPTION "Page Setup"
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT           "&Left:",IDC_STATIC,11,21,13,10
	EDITTEXT        kcidFilPgSetMLE,28,19,43,12,ES_AUTOHSCROLL
	CONTROL         "",kcidFilPgSetMLS,"msctls_updown32",UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS,66,23,11,10
	LTEXT           "&Right:",IDC_STATIC,88,21,20,10
	EDITTEXT        kcidFilPgSetMRE,114,19,43,12,ES_AUTOHSCROLL
	CONTROL         "",kcidFilPgSetMRS,"msctls_updown32",UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS,153,23,11,10
	LTEXT           "&Top:",IDC_STATIC,11,43,16,10
	EDITTEXT        kcidFilPgSetMTE,28,42,43,12,ES_AUTOHSCROLL
	CONTROL         "",kcidFilPgSetMTS,"msctls_updown32",UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS,69,41,11,10
	LTEXT           "&Bottom:",IDC_STATIC,88,43,24,10
	EDITTEXT        kcidFilPgSetMBE,114,42,43,12,ES_AUTOHSCROLL
	CONTROL         "",kcidFilPgSetMBS,"msctls_updown32",UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS,152,43,11,10
	GROUPBOX        "From Edge",IDC_STATIC,181,11,86,45
	LTEXT           "H&eader:",IDC_STATIC,188,24,28,9
	EDITTEXT        kcidFilPgSetEHE,219,22,43,12,ES_AUTOHSCROLL
	CONTROL         "",kcidFilPgSetEHS,"msctls_updown32",UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS,259,23,11,10
	LTEXT           "&Footer:",IDC_STATIC,188,40,24,10
	EDITTEXT        kcidFilPgSetEFE,219,38,43,12,ES_AUTOHSCROLL
	CONTROL         "",kcidFilPgSetEFS,"msctls_updown32",UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS,259,40,11,10
	LTEXT           "Margins",IDC_STATIC,5,4,29,8
	LTEXT           "",IDC_STATIC,35,8,232,1,SS_SUNKEN
	LTEXT           "Paper",IDC_STATIC,7,63,22,10
	LTEXT           "",IDC_STATIC,30,67,237,1,SS_SUNKEN
	LTEXT           "Si&ze:",IDC_STATIC,12,73,27,8
	COMBOBOX        kcidFilPgSetSize,12,83,84,52,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	RTEXT           "&Width:",IDC_STATIC,107,74,24,10
	EDITTEXT        kcidFilPgSetWE,137,72,43,12,ES_AUTOHSCROLL
	CONTROL         "",kcidFilPgSetWS,"msctls_updown32",UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS,176,72,11,10
	RTEXT           "Hei&ght:",IDC_STATIC,107,93,25,11
	EDITTEXT        kcidFilPgSetHE,137,91,43,12,ES_AUTOHSCROLL
	CONTROL         "",kcidFilPgSetHS,"msctls_updown32",UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS,174,92,11,10
	CONTROL         "&Portrait",kcidFilPgSetPort,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,219,74,44,8
	CONTROL         "L&andscape",kcidFilPgSetLand,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,219,93,47,8
	CONTROL         1701,kridFilPgSetPort,"Static",SS_BITMAP,203,71,11,15,WS_EX_TRANSPARENT
	CONTROL         1702,IDC_STATIC,"Static",SS_BITMAP,201,92,15,10
	LTEXT           "Header and footer",IDC_STATIC,6,112,61,8
	LTEXT           "",IDC_STATIC,70,117,197,1,SS_SUNKEN
	CONTROL         "&Show header on first page.",kcidFilPgSetShowHdr,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,123,103,10
	LTEXT           "Hea&der:",IDC_STATIC,12,139,28,10,NOT WS_GROUP
	EDITTEXT        kcidFilPgSetHdE,42,138,225,20,ES_AUTOHSCROLL
	LTEXT           "F&ooter:",IDC_STATIC,12,164,28,10,NOT WS_GROUP
	EDITTEXT        kcidFilPgSetFtE,42,163,225,20,ES_AUTOHSCROLL
	LTEXT           "Format selected text:",IDC_STATIC,12,190,140,17,NOT WS_GROUP
	PUSHBUTTON      "",kcidFilPgSetFont,85,188,16,15,BS_BITMAP
	LTEXT           "Insert:",IDC_STATIC,145,190,140,24,NOT WS_GROUP
	PUSHBUTTON      "",kcidFilPgSetPgNum,175,188,16,15,BS_BITMAP
	PUSHBUTTON      "",kcidFilPgSetTotPg,194,188,16,15,BS_BITMAP
	PUSHBUTTON      "",kcidFilPgSetDate, 213,188,16,15,BS_BITMAP
	PUSHBUTTON      "",kcidFilPgSetTime, 232,188,16,15,BS_BITMAP
	PUSHBUTTON      "",kcidFilPgSetTitle,251,188,16,15,BS_BITMAP
	LTEXT           "",IDC_STATIC,7,207,260,1,SS_SUNKEN
	PUSHBUTTON      "OK",kctidOk,                  79,212,44,15
	PUSHBUTTON      "Cancel",kctidCancel,         127,212,44,15
	PUSHBUTTON      "Defa&ult...",kcidFilPgSetDef,175,212,44,15
	PUSHBUTTON      "Help...",kctidHelp,          223,212,44,15
END
