// Extracted from FmtBdrDlg.rc
kridFmtBdrDlgP DIALOGEX 0, 0, 245, 142
STYLE DS_CONTEXTHELP | WS_CHILD | WS_TABSTOP
EXSTYLE WS_EX_CONTEXTHELP | WS_EX_CONTROLPARENT
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT           "C&olor:",IDC_STATIC,15,13,35,10
//    CONTROL         "",kctidColor,"Button",BS_OWNERDRAW | WS_TABSTOP,15,20,65,15
	PUSHBUTTON      "",kctidColor,15,20,65,15
	LTEXT           "&Width:",IDC_STATIC,15,40,35,10
	COMBOBOX        kctidFmtBdrDlgWidth,15,50,65,135,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_TABSTOP
	CTEXT           "Click below to apply borders:",IDC_STATIC,111,9,90,10
	CONTROL         "&Top",kctidFmtBdrDlgTop,"Button",BS_AUTO3STATE | BS_NOTIFY | WS_TABSTOP,145,25,30,10
	CONTROL         "&Right",kctidFmtBdrDlgTrailing,"Button",BS_AUTO3STATE | BS_NOTIFY | WS_TABSTOP,202,70,39,10
	CONTROL         "&Bottom",kctidFmtBdrDlgBottom,"Button",BS_AUTO3STATE | BS_NOTIFY | WS_TABSTOP,140,126,35,10
	CONTROL         "Le&ft",kctidFmtBdrDlgLeading,"Button",BS_AUTO3STATE | BS_LEFTTEXT | BS_RIGHT | BS_NOTIFY | WS_TABSTOP,75,70,38,10
	LTEXT           "&None",IDC_STATIC,15,85,20,10
	CONTROL         "&n",kctidFmtBdrDlgNoneP,"Button",BS_OWNERDRAW | BS_NOTIFY | WS_TABSTOP,15,95,37,37,WS_EX_CLIENTEDGE
	LTEXT           "A&ll",IDC_STATIC,60,85,20,10
	CONTROL         "&l",kctidFmtBdrDlgAll,"Button",BS_OWNERDRAW | BS_NOTIFY | WS_TABSTOP,60,95,37,37,WS_EX_CLIENTEDGE
	CONTROL         "",kctidFmtBdrDlgDiag,"Button",BS_OWNERDRAW | BS_FLAT,115,35,85,90
END
