// Extracted from FmtBulNumDlg.rc
kridFmtBulNumDlg DIALOGEX 0, 0, 248, 176
STYLE DS_SETFONT | DS_CONTEXTHELP | WS_CHILD | WS_TABSTOP
EXSTYLE WS_EX_CONTEXTHELP | WS_EX_CONTROLPARENT
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
	LTEXT           "Preview",IDC_STATIC,134,7,59,9
	CONTROL         "&None",kctidFbnRbNotAList,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,7,7,33,10
	CONTROL         "B&ullet",kctidFbnRbBullet,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,7,23,35,10
	CONTROL         "Numbe&r",kctidFbnRbNumber,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,7,59,43,10
	CONTROL         "Unsp&ecified",kctidFbnRbUnspecified,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,7,159,53,10
	GROUPBOX        "",IDC_STATIC,18,24,106,26
	LTEXT           "Sc&heme:",kctidFbnBulSch,23,35,47,8
	COMBOBOX        kctidFbnCbBullet,70,33,48,96,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	GROUPBOX        "",IDC_STATIC,18,60,106,71
	LTEXT           "Sche&me:",kctidFbnNumSch,23,71,47,8
	COMBOBOX        kctidFbnCbNumber,70,69,48,73,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	CONTROL         "S&tart at:",kctidFbnCxStartAt,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,23,86,47,11
	EDITTEXT        kctidFbnEdStartAt,70,84,48,12,ES_AUTOHSCROLL
	CONTROL         "Spin1",kctidFbnSpStartAt,"msctls_updown32",UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,114,84,11,12
	LTEXT           "Text &before:",kctidFbnNumTB,23,101,47,8
	EDITTEXT        kctidFbnEdTxtBef,70,99,48,12,ES_AUTOHSCROLL
	LTEXT           "Te&xt after:",kctidFbnNumTA,23,116,47,8
	EDITTEXT        kctidFbnEdTxtAft,70,114,48,12,ES_AUTOHSCROLL
	PUSHBUTTON      "Bullet and Number &Font...",kctidFbnPbFont,17,136,107,14
	LTEXT           "Preview",IDC_STATIC,134,7,59,9
	CONTROL         "",kctidFbnPreview,"Button",BS_OWNERDRAW,133,18,108,132
END
