// Extracted from FmtFntDlg.rc
kridFmtFntDlg DIALOGEX 0, 0, 250, 282
STYLE DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION |
	WS_SYSMENU
EXSTYLE WS_EX_CONTEXTHELP | WS_EX_CONTROLPARENT
CAPTION "Font"
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT           "&Font:",IDC_STATIC,7,7,56,10
	COMBOBOX        kctidFfdFont,8,17,166,65,CBS_SIMPLE | CBS_SORT | WS_VSCROLL | WS_TABSTOP,WS_EX_CLIENTEDGE
	LTEXT           "Si&ze:",IDC_STATIC,181,7,39,10
	COMBOBOX        kctidFfdSize,180,17,60,65,CBS_SIMPLE | WS_VSCROLL | WS_TABSTOP,WS_EX_CLIENTEDGE
	LTEXT           "Fo&nt color:",IDC_STATIC,8,91,53,8
	PUSHBUTTON      "",kctidFfdForeClr,8,101,53,12
	LTEXT           "Bac&kground:",IDC_STATIC,67,91,53,8
	PUSHBUTTON      "",kctidFfdBackClr,67,101,53,12
	LTEXT           "&Underline style:",IDC_STATIC,126,91,53,8
	COMBOBOX        kctidFfdUnder,126,100,53,174,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | WS_VSCROLL | WS_TABSTOP
	LTEXT           "Under&line color:",IDC_STATIC,185,91,53,8
	PUSHBUTTON      "",kctidFfdUnderClr,185,101,53,12
	LTEXT           "Effects",IDC_STATIC,8,122,40,8
	LTEXT           "",IDC_STATIC,34,126,206,1,SS_SUNKEN
	CONTROL         "&Bold",kctidFfdBold,"Button",BS_3STATE | WS_TABSTOP,20,134,60,10
	CONTROL         "&Italic",kctidFfdItalic,"Button",BS_3STATE | WS_TABSTOP,20,146,60,10
	CONTROL         "Sup&erscript",kctidFfdSuper,"Button",BS_3STATE | WS_TABSTOP,20,158,60,10
	CONTROL         "Subscrip&t",kctidFfdSub,"Button",BS_3STATE | WS_TABSTOP,20,170,60,10
	PUSHBUTTON		"Font Feature&s...",kctidFfdFeatures,129,134,100,15
	// Give a real ctid (not IDC_STATIC) so we can possibly move it:
	LTEXT           "P&osition:",kctidFfdPosLabel,128,146,53,8
	COMBOBOX        kctidFfdOffset,128,155,53,48,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	// Give a real ctid (not IDC_STATIC) so we can possibly move it:
	LTEXT           "B&y:",kctidFfdByLabel,187,146,53,8
	EDITTEXT        kctidFfdOffsetNum,187,155,41,12,ES_AUTOHSCROLL
	CONTROL         "By",kctidFfdOffsetSpin,"msctls_updown32",UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,229,155,12,12
	LTEXT           "Preview",IDC_STATIC,8,190,28,8
	LTEXT           "",IDC_STATIC,38,194,202,1,SS_SUNKEN
	CONTROL         "Preview",kctidFfdPreview,"Button",BS_OWNERDRAW,20,199,220,48
//    PUSHBUTTON      "&Remove Formatting...",kctidFfdRemove,8,255,76,15
	DEFPUSHBUTTON   "OK",kctidOk,98,255,44,15
	PUSHBUTTON      "Cancel",kctidCancel,147,255,44,15
	PUSHBUTTON      "Help...",kctidHelp,196,255,44,15
END
