// Extracted from FmtGenDlg.rc
kridFmtGenDlg DIALOGEX 0, 0, 246, 198
STYLE DS_CONTEXTHELP | WS_CHILD | WS_TABSTOP
EXSTYLE WS_EX_CONTEXTHELP | WS_EX_CONTROLPARENT
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
	LTEXT           "Na&me:",IDC_STATIC,6,10,44,8
	EDITTEXT        kctidFgEdName,54,8,186,12
	LTEXT           "Style type:",IDC_STATIC,6,28,44,8
	LTEXT           "",kctidFgStyleType,54,28,186,8
	LTEXT           "&Based on:",IDC_STATIC,6,46,44,8
	COMBOBOX        kctidFgCbBasedOn,54,44,186,82,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	LTEXT           "St&yle for following paragraph:",IDC_STATIC,6,64,44,24
	COMBOBOX        kctidFgCbParaNextStyle,54,70,186,82,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
//    LTEXT           "Shortcut &key:",IDC_STATIC,6,98,44,8
//    EDITTEXT        kctidFgEdShortcut,54,96,186,12
	LTEXT           "Description",IDC_STATIC,6,118,40,8
	LTEXT           "",IDC_STATIC,46,122,194,0,SS_SUNKEN
	LTEXT           "Eng, Frn: Times New Roman...",kctidFgDescription,12,128,228,64
END
