// Extracted from FmtWrtSysDlg.rc
kridFmtWrtSysDlg DIALOG DISCARDABLE  0, 0, 170, 156
STYLE DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Writing System"
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT           "Choose a writing system:",IDC_STATIC,7,5,101,8
	LISTBOX         kctidFmtWritingSystems,7,15,156,116,WS_VSCROLL | WS_TABSTOP
	DEFPUSHBUTTON   "Apply",kctidOk,7,136,46,14
	PUSHBUTTON      "Cancel",kctidCancel,62,136,46,14
	PUSHBUTTON      "Help",kctidHelp,117,136,46,14
END
