// Extracted from WorldPad.rc
kridOptionsDlg DIALOG DISCARDABLE  0, 0, 184, 102
STYLE DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Options"
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT           "Home, End, and arrow key behavior:",IDC_STATIC,19,24,116,8
	CONTROL         "&Visual",kctidArrVis,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,49,36,36,9
	CONTROL         "&Logical",kctidArrLog,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,101,36,42,9
	CONTROL         "Output &Graphite debug logs",kctidGraphiteLog,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,19,55,103,10
	DEFPUSHBUTTON   "OK",kctidOk,20,79,45,14
	PUSHBUTTON      "Cancel",kctidCancel,76,79,45,14
	PUSHBUTTON      "Help",kctidHelp,132,79,45,14
	LTEXT           "Complex scripts:",IDC_STATIC,7,8,61,8
	LTEXT           "",IDC_STATIC,63,12,114,1,SS_SUNKEN
END
