// Extracted from AfProgressDlg.rc
kridProgressWithCancelDlg DIALOG DISCARDABLE  0, 0, 210, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION ""
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL     "",kctidProgressMessage,"Static", SS_LEFT, 5,5,200,25
	CONTROL     "Progress1",kctidProgressBar,"msctls_progress32",PBS_SMOOTH | WS_VISIBLE | WS_BORDER, 5,34,200,11
	PUSHBUTTON  "Cancel",kctidCancel,80,50,50,14
END
