// Extracted from WorldPad.rc
kridSavePlainTextDlg DIALOG DISCARDABLE  0, 0, 168, 92
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Saving Plain Text"
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT           "Text writing system:",IDC_STATIC,24,13,75,12
	LISTBOX         kctidTextWs,24,28,120,32,WS_VSCROLL | WS_TABSTOP
	DEFPUSHBUTTON   "OK",kctidOk,7,71,42,14
	PUSHBUTTON      "Cancel",kctidCancel,63,71,42,14
	PUSHBUTTON      "Help...",kctidHelp,119,71,42,14
END
