// Extracted from WorldPad.rc
kridShellDlg DIALOG DISCARDABLE  0, 0, 349, 292
STYLE DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTEXTHELP
CAPTION ""
FONT 8, "MS Sans Serif"
BEGIN
	DEFPUSHBUTTON   "OK",kctidOk,126,271,50,14
	PUSHBUTTON      "Cancel",kctidCancel,181,271,50,14
	PUSHBUTTON      "Help...",kctidHelp,236,271,50,14
END
