Source: fieldworks-enchant
Section: unknown
Priority: extra
Maintainer: Stephen McConnel <stephen_mcconnel@sil.org>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, hspell (>= 0.7-2), libdbus-1-dev, libdbus-glib-1-dev, libhunspell-dev (>= 1.1.5-2), libpspell-dev (>= 0.60.3-3), libglib2.0-dev, libvoikko-dev, libz-dev, chrpath
Standards-Version: 3.8.4
Homepage: http://www.abisource.com/projects/enchant/
#Vcs-Git: git://git.debian.org/collab-maint/fieldworks-enchant.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/fieldworks-enchant.git;a=summary

Package: fieldworks-libenchant-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, fieldworks-libenchant1c2a (= ${binary:Version}), libglib2.0-dev
Description: a wrapper library for various spell checker engines (development)
 A specially patched version of enchant from upstream source repos,
 to support FieldWorks. Not intended for general use.
 .
 Enchant is a generic spell checking library which uses existing
 spell checker engines such as ispell, aspell and myspell as its backends.
 .
 Enchant steps in to provide uniformity and conformity on top of these
 libraries, and implement certain features that may be lacking in any
 individual provider library.
 .
 This package contains files needed for development with Enchant.

Package: fieldworks-libenchant1c2a
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libenchant1, libenchant1c2
Replaces: libenchant-dev (<< 1.1.1++cvs.2003.11.08), libenchant1, libenchant1c2
Suggests: fieldworks-libenchant-voikko
Description: a wrapper library for various spell checker engines
 A specially patched version of enchant from upstream source repos,
 to support FieldWorks. Not intended for general use.
 .
 Enchant is a generic spell checking library which uses existing
 spell checker engines such as ispell, aspell and myspell as its backends.
 .
 Enchant steps in to provide uniformity and conformity on top of these
 libraries, and implement certain features that may be lacking in any
 individual provider library.
 .
 This package contains shared library and program.

Package: fieldworks-libenchant-voikko
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libenchant1c2a (= 1.4.2-3)
Replaces: libenchant1c2a (= 1.4.2-3)
Description: Voikko spell-checker libenchant plugin
 A specially patched version of enchant from upstream source repos,
 to support FieldWorks. Not intended for general use.
 .
 Voikko is a Finnish spell-checker and hyphenator based on Malaga and
 Suomi-Malaga.
 .
 This package contains a libenchant provider plugin that allows using Voikko in
 any application that uses enchant library for spell-checking, such as
 Abiword.
