#!/usr/bin/make -f
# -*- makefile -*-
# debian/rules that uses debhelper.
# (based on sample GNU copyright 1997 to 1999 by Joey Hess.)

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1


# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

# shared library versions
version=2.0.5
major=2

config.status: configure
	dh_testdir
	# commands to configure the package.
	./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) \
	--prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info \
	--with-ispell-dir=/usr/lib/ispell --with-myspell-dir=/usr/share/hunspell --disable-zemberek


build: build-stamp
build-stamp:  config.status
	dh_testdir

	# commands to compile the package.
	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# commands to clean up after the build process.
	[ ! -f Makefile ] || $(MAKE) distclean
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif


	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean
	dh_installdirs

	# commands to install the package into debian/tmp
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	# remove bogus RPATHs on /usr/lib
	chrpath -d debian/tmp/usr/bin/*
	chrpath -d debian/tmp/usr/lib/*.so*
	chrpath -d debian/tmp/usr/lib/enchant-cs/*.so

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_movefiles -pfieldworks-libenchant-voikko
	dh_movefiles -Nfieldworks-libenchant-voikko
	dh_installchangelogs ChangeLog
	dh_installdocs
	  install -m 644 $(CURDIR)/src/aspell/README $(CURDIR)/debian/fieldworks-libenchant1c2a/usr/share/doc/fieldworks-libenchant1c2a/aspell
	  install -m 644 $(CURDIR)/src/ispell/README $(CURDIR)/debian/fieldworks-libenchant1c2a/usr/share/doc/fieldworks-libenchant1c2a/ispell
	  install -m 644 $(CURDIR)/src/uspell/README $(CURDIR)/debian/fieldworks-libenchant1c2a/usr/share/doc/fieldworks-libenchant1c2a/uspell
	install -m 644 $(CURDIR)/debian/enchant.ordering $(CURDIR)/debian/fieldworks-libenchant1c2a/usr/share/enchant-cs/enchant.ordering
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	  sed -f $(CURDIR)/debian/manpage.sed doc/enchant.1 >doc/enchant-cs.1
	dh_installman -pfieldworks-libenchant1c2a doc/enchant-cs.1
	  rm doc/enchant-cs.1
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
