<?xml version="1.0" ?>

<configuration>
	<!-- This doesn't work with a signed SIL.LCModel.Utils assembly
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<clear/>
				<add name="FwTraceListener"
					type="SIL.LCModel.Utils.EnvVarTraceListener, SIL.LCModel.Utils, Culture=neutral, PublicKeyToken=f245775b81dcfaab"
					initializeData="assertuienabled='true' logfilename='%temp%/asserts.log'"/>
			</listeners>
		</trace>
	</system.diagnostics>
	-->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>