<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="DChartHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<DChartHelper.Properties.Settings>
			<setting name="TransliterationECName" serializeAs="String">
				<value />
			</setting>
			<setting name="GlossingECName" serializeAs="String">
				<value />
			</setting>
			<setting name="TransliterationECDirection" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="TransliterationECNormalize" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="ShowTransliteration" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ShowGloss" serializeAs="String">
				<value>False</value>
			</setting>
		</DChartHelper.Properties.Settings>
	</userSettings>
</configuration>