[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=WorldPad
Exec=worldpad %F
Terminal=false
Categories=WordProcessor;Office;
Comment=SIL WorldPad word-processor supporting complex scripts
Icon=worldpad
MimeType=application/x-worldpad;
