<configuration>
  <system.runtime.remoting>
	<customErrors mode = "off"/>
	<application>
	  <service>
		<wellknown type="FwRemoteDatabaseConnector.Db4oServerInfo, FDO" objectUri="FwRemoteDatabaseConnector.Db4oServerInfo" mode="Singleton"/>
	  </service>
	  <channels>
		<channel port="3333" ref="tcp">
		  <serverProviders>
			<formatter ref="binary" typeFilterLevel="Full"/>
			<provider type="FwRemoteDatabaseConnector.ClientIPServerSinkProvider, FDO" customChannelSinkProperty="customProperty"/>
		  </serverProviders>
		</channel>
	  </channels>
	  <lifetime leaseTime="0"/>
	</application>
  </system.runtime.remoting>
</configuration>