<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<dllmap dll="IcuConvEC">
		<dllentry os="linux" dll="libIcuConvEC.so.1.0"/>
	</dllmap>
	<dllmap dll="IcuRegexEC">
		<dllentry os="linux" dll="libIcuRegexEC.so.1.0"/>
	</dllmap>
	<dllmap dll="IcuTranslitEC">
		<dllentry os="linux" dll="libIcuTranslitEC.so.1.0"/>
	</dllmap>
</configuration>
