<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<dllmap dll="IcuConvEC">
		<dllentry os="linux" cpu="x86" dll="libIcuConvEC.so.1.0"/>
		<dllentry os="linux" cpu="x86-64" dll="libIcuConvEC_64.so.1.0"/>
	</dllmap>
	<dllmap dll="IcuRegexEC">
		<dllentry os="linux" cpu="x86" dll="libIcuRegexEC.so.1.0"/>
		<dllentry os="linux" cpu="x86-64" dll="libIcuRegexEC_64.so.1.0"/>
	</dllmap>
	<dllmap dll="IcuTranslitEC">
		<dllentry os="linux" cpu="x86" dll="libIcuTranslitEC.so.1.0"/>
		<dllentry os="linux" cpu="x86-64" dll="libIcuTranslitEC_64.so.1.0"/>
	</dllmap>
</configuration>
