<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<dllmap dll="IcuConvEC.dll">
		<dllentry os="linux" cpu="x86" dll="libIcuConvEC.so"/>
		<dllentry os="linux" cpu="x86-64" dll="libIcuConvEC_64.so"/>
	</dllmap>
	<dllmap dll="IcuRegexEC.dll">
		<dllentry os="linux" cpu="x86" dll="libIcuRegexEC.so"/>
		<dllentry os="linux" cpu="x86-64" dll="libIcuRegexEC_64.so"/>
	</dllmap>
	<dllmap dll="IcuTranslitEC.dll">
		<dllentry os="linux" cpu="x86" dll="libIcuTranslitEC.so"/>
		<dllentry os="linux" cpu="x86-64" dll="libIcuTranslitEC_64.so"/>
	</dllmap>
</configuration>
