<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PerlExpressionEC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PerlExpressionEC.Properties.Settings>
            <setting name="RecentlyUsedExpressions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>$strInOut =~ s/[^aeiou ]/C/g;</string>
                        <string>$strInOut =~ s/[aeiou]/V/g;</string>
                        <string>$strOut = lc($strIn);</string>
                        <string>$strOut = reverse($strIn);</string>
                        <string>$strOut = uc($strIn);</string>
                    </ArrayOfString>
                </value>
            </setting>
        </PerlExpressionEC.Properties.Settings>
    </userSettings>
</configuration>