<?xml version="1.0" encoding="utf-8"?>
<system.diagnostics>
	<trace autoflush="true">
		<listeners>
			<clear />
			<add name="FwTraceListener"
				type="SIL.LCModel.Utils.EnvVarTraceListener, SIL.LCModel.Utils"
				initializeData="assertuienabled='false' assertexceptionenabled='false' logfilename='FieldWorks.trace.log'" />
		</listeners>
	</trace>
	<switches>
		<add name="ShowPendingMsgs" value="3" />
		<add name="XCore.Mediator_InvokeTrace" value="3" />
		<add name="XWorks_Timing" value="3" />
		<add name="XWorks_LinkListener" value="3" />
		<!-- Views render timing (enable for benchmark harness) -->
		<add name="Views_RenderTiming" value="3" />
	</switches>
</system.diagnostics>
