<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<clear/>
				<add name="FwTraceListener" type="SIL.LCModel.Utils.EnvVarTraceListener, SIL.LCModel.Utils, Version=11.0.0.0, Culture=neutral, PublicKeyToken=f245775b81dcfaab"
					 initializeData="assertuienabled='true' logfilename='%temp%/asserts.log'"/>
			</listeners>
		</trace>
	</system.diagnostics>
	<runtime>
		<generatePublisherEvidence enabled="false" />
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="icu.net" publicKeyToken="416fdd914afa6b66" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.13.3.0" newVersion="3.13.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="TagLibSharp" publicKeyToken="db62eba44689b5b0" culture="neutral" />
				<bindingRedirect oldVersion="2.0.0.0-2.3.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
<!--
Comment out the following section when the ParatextData and FieldWorks versions of libpalaso converge
-->
			<dependentAssembly>
				<assemblyIdentity name="SIL.Core" publicKeyToken="cab3c8c5232dfcf2" culture="neutral" />
				<!-- Until Chorus starts using libpalaso 13.0.0.0 -->
				<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="SIL.Lexicon" publicKeyToken="cab3c8c5232dfcf2" culture="neutral" />
				<!-- Until Chorus starts using libpalaso 13.0.0.0 -->
				<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="SIL.Scripture" publicKeyToken="cab3c8c5232dfcf2" culture="neutral" />
				<!-- Until Chorus starts using libpalaso 13.0.0.0 -->
				<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="SIL.TestUtilities" publicKeyToken="cab3c8c5232dfcf2" culture="neutral" />
				<!-- Until Chorus starts using libpalaso 13.0.0.0 -->
				<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="SIL.WritingSystems" publicKeyToken="cab3c8c5232dfcf2" culture="neutral" />
				<!-- Until Chorus starts using libpalaso 13.0.0.0 -->
				<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
