<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="AdaptIt2Unicode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<AdaptIt2Unicode.Properties.Settings>
			<setting name="DefaultFieldsToConvert" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
						xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>\f</string>
						<string>\fr</string>
						<string>\fk</string>
						<string>\fq</string>
						<string>\fqa</string>
						<string>\ft</string>
						<string>\fdc</string>
						<string>\fv</string>
						<string>\fm</string>
						<string>\x</string>
						<string>\xo</string>
						<string>\xt</string>
						<string>\xk</string>
						<string>\xq</string>
						<string>\xdc</string>
						<string>\c</string>
						<string>\v</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="DefaultFieldsToNotConvert" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
						xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>\p</string>
					</ArrayOfString>
				</value>
			</setting>
		</AdaptIt2Unicode.Properties.Settings>
	</userSettings>
</configuration>