<!--
  <copyright file="WixUI_InstallDir.wxs" company="Outercurve Foundation">
    Copyright (c) 2004, Outercurve Foundation.
    This software is released under Microsoft Reciprocal License (MS-RL).
    The license and further copyright text can be found in the file
    License.htm in the ..\resources directory
  </copyright>
-->

<!--
First-time install dialog sequence:
 - WixUI_WelcomeDlg
 - WixUI_LicenseAgreementDlg
 - WixUI_InstallDirDlg
 - WixUI_VerifyReadyDlg
 - WixUI_DiskCostDlg

Maintenance dialog sequence:
 - WixUI_MaintenanceWelcomeDlg
 - WixUI_MaintenanceTypeDlg
 - WixUI_InstallDirDlg
 - WixUI_VerifyReadyDlg

Patch dialog sequence:
 - WixUI_WelcomeDlg
 - WixUI_VerifyReadyDlg

-->

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>

		<UI Id="WixUI_DialogFlow">
            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
            <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
            <TextStyle Id="WixUI_Font_Normal_White" FaceName="Tahoma" Size="8" Red="255" Green="255" Blue="255" />
            <TextStyle Id="WixUI_Font_Bigger_White" FaceName="Tahoma" Size="12" Red="255" Green="255" Blue="255" />
            <TextStyle Id="WixUI_Font_Title_White" FaceName="Tahoma" Size="9" Bold="yes" Red="255" Green="255" Blue="255" />

            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
            <Property Id="WixUI_Mode" Value="InstallDir" />

            <DialogRef Id="BrowseDlg" />
            <DialogRef Id="DiskCostDlg" />
            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="FatalError" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="MsiRMFilesInUse" />
            <DialogRef Id="PrepareDlg" />
            <DialogRef Id="GIProgressDlg" />
            <DialogRef Id="ResumeDlg" />
            <DialogRef Id="UserExit" />

      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath_$(sys.BUILDARCHSHORT)" Order="3" Condition="1" />
      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="CheckApplicationPath" Order="4" Condition="1" />
            <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="5" Condition="WIXUI_INSTALLDIR_VALID&lt;&gt;&quot;1&quot;" />

            <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999" Condition="1" />

            <Publish Dialog="GIWelcomeDlg" Control="Next" Event="NewDialog" Value="GISetupTypeDlg" Condition="NOT Installed" />
            <Publish Dialog="GIWelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Condition="Installed AND PATCH" />

            <Publish Dialog="GISetupTypeDlg" Control="Back" Event="NewDialog" Value="GIWelcomeDlg" Condition="1" />
            <Publish Dialog="GISetupTypeDlg" Control="TypicalButton" Event="NewDialog" Value="GIInstallDirDlg" Condition="1" />
            <Publish Dialog="GISetupTypeDlg" Control="CustomButton" Event="NewDialog" Value="GICustomizeDlg" Condition="1" />
            <Publish Dialog="GISetupTypeDlg" Control="CompleteButton" Event="NewDialog" Value="GIInstallDirDlg" Condition="1" />

            <Publish Dialog="GICustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1" Condition="WixUI_InstallMode = &quot;Change&quot;" />
            <Publish Dialog="GICustomizeDlg" Control="Back" Event="NewDialog" Value="GISetupTypeDlg" Order="2" Condition="WixUI_InstallMode = &quot;InstallCustom&quot;" />
            <Publish Dialog="GICustomizeDlg" Control="Next" Event="NewDialog" Value="GIInstallDirDlg" Condition="1" />

            <Publish Dialog="GIInstallDirDlg" Control="Back" Event="NewDialog" Value="GICustomizeDlg" Order="1" Condition="WixUI_InstallMode = &quot;InstallCustom&quot;" />
            <Publish Dialog="GIInstallDirDlg" Control="Back" Event="NewDialog" Value="GISetupTypeDlg" Order="2" Condition="WixUI_InstallMode = &quot;InstallTypical&quot; OR WixUI_InstallMode = &quot;InstallComplete&quot;" />
            <Publish Dialog="GIInstallDirDlg" Control="Back" Event="NewDialog" Value="GICustomizeDlg" Order="3" Condition="WixUI_InstallMode = &quot;Change&quot;" />
            <Publish Dialog="GIInstallDirDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="4" Condition="WixUI_InstallMode = &quot;Repair&quot; OR WixUI_InstallMode = &quot;Remove&quot;" />
            <Publish Dialog="GIInstallDirDlg" Control="Back" Event="NewDialog" Value="GIWelcomeDlg" Order="2" Condition="WixUI_InstallMode = &quot;Update&quot;" />

            <Publish Dialog="GIInstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1" Condition="1" />
            <Publish Dialog="GIInstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath_$(sys.BUILDARCHSHORT)" Order="2" Condition="NOT WIXUI_DONTVALIDATEPATH" />
            <Publish Dialog="GIInstallDirDlg" Control="Next" Event="DoAction" Value="CheckApplicationPath" Order="3" Condition="NOT WIXUI_DONTVALIDATEPATH" />
            <Publish Dialog="GIInstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="4" Condition="NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID&lt;&gt;&quot;1&quot;" />
            <Publish Dialog="GIInstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="5" Condition="WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID=&quot;1&quot;" />
            <Publish Dialog="GIInstallDirDlg" Control="ChangeAppFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1" Condition="1" />
            <Publish Dialog="GIInstallDirDlg" Control="ChangeAppFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2" Condition="1" />

            <Publish Dialog="GIInstallDirDlg" Control="ChangeProjFolder" Property="_BrowseProperty" Value="[WIXUI_PROJECTSDIR]" Order="1" Condition="1" />
            <Publish Dialog="GIInstallDirDlg" Control="ChangeProjFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2" Condition="1" />


            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="GIInstallDirDlg" Order="1" Condition="NOT Installed" />
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2" Condition="Installed AND NOT PATCH" />
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="GIWelcomeDlg" Order="2" Condition="Installed AND PATCH" />

            <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg" Condition="1" />

            <Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="GICustomizeDlg" Condition="1" />
            <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg" Condition="1" />
            <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg" Condition="1" />
            <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg" Condition="1" />

            <Property Id="ARPNOMODIFY" Value="1" />
        </UI>

        <UIRef Id="WixUI_Common" />
    </Fragment>
</Wix>
