TestAdCtl.txt 					-whitespace
StemNameTestAdCtl.txt 			-whitespace
Orizabaadctl.txt 				-whitespace
StemName3adctl.txt 				-whitespace
CliticAdCtl.txt 				-whitespace
AffixAlloFeatsAdCtl.txt 		-whitespace
LatinAdCtl.txt 					-whitespace
TestLexicon.txt 				-whitespace
CircumfixInfixLexicon.txt 		-whitespace
FullRedupLexicon.txt 			-whitespace
ConceptualIntroTestlex.txt		-whitespace
StemNameTestlex.txt 			-whitespace
Orizabalex.txt					-whitespace
StemName3lex.txt				-whitespace
CliticLexicon.txt				-whitespace
CliticEnvsLexicon.txt			-whitespace
RootCliticEnvsLexicon.txt		-whitespace
AffixAlloFeatsLexicon.txt		-whitespace
TestWordGrammar.txt				-whitespace
IndonCircumfixWordGrammar.txt 	-whitespace
CircumfixInfixWordGrammar.txt	-whitespace
StemNameWordGrammar.txt			-whitespace
Orizabagram.txt					-whitespace
StemName3gram.txt				-whitespace
CliticWordGrammar.txt			-whitespace
AffixAlloFeatsWordGrammar.txt	-whitespace
LatinWordGrammar.txt			-whitespace
AffixAlloFeatsLexicon.txt		-whitespace
AffixAlloFeatsWordGrammar.txt	-whitespace
CircumfixInfixLexicon.txt		-whitespace
CliticEnvsLexicon.txt			-whitespace
CliticLexicon.txt				-whitespace
ConceptualIntroTestlex.txt		-whitespace
FullRedupLexicon.txt			-whitespace
IrregularlyInflectedFormsAdCtl.txt		-whitespace
IrregularlyInflectedFormsLexicon.txt	-whitespace
LatinWordGrammar.txt			-whitespace
Orizabalex.txt					-whitespace
RootCliticEnvsLexicon.txt		-whitespace
StemName3gram.txt				-whitespace
StemName3lex.txt				-whitespace
StemNameTestlex.txt				-whitespace
TestLexicon.txt					-whitespace
