/*--------------------------------------------------------------------*//*:Ignore this sentence.
Copyright (C) 1999, 2004 SIL International. All rights reserved.

Distributable under the terms of either the Common Public License or the
GNU Lesser General Public License, as specified in the LICENSING.txt file.

File: Language.rc
Responsibility:
Last reviewed: Not yet.

Description:

-------------------------------------------------------------------------------*//*:End Ignore*/
1 TYPELIB LanguageTlb.tlb
#if WIN32
#include "afxres.h"
#endif
#include "LangResource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Version: bldinc.h holds the current version number and it is created by executing
// bin\mkverrsc.exe from within the bin\mk*.bat file. The major and minor version
// numbers are hard-coded in mk*.bat.
#if WIN32
#include "..\..\..\Output\Common\bldinc.h"
#endif
VS_VERSION_INFO VERSIONINFO
// NOTE: These defines are in bldinc.h.
 FILEVERSION MAJOR_VERSION,MINOR_VERSION,SUITE_REVISION,NUMBER_OF_DAYS
 PRODUCTVERSION MAJOR_VERSION,MINOR_VERSION,SUITE_REVISION,NUMBER_OF_DAYS
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE VFT_DLL
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "Comments", "\0"
			VALUE "CompanyName", "SIL\0"
			VALUE "FileDescription", "Fieldworks Language support\0"
			VALUE "FileVersion", STR_PRODUCT // Uses FILEVERSION.
			VALUE "InternalName", "Language\0"
			VALUE "LegalCopyright", COPYRIGHT
			VALUE "LegalTrademarks", "\0"
			VALUE "OriginalFilename", "Language.dll\0"
			VALUE "PrivateBuild", "\0"
			VALUE "ProductName", "FieldWorks\0"
			VALUE "ProductVersion", FWSUITE_VERSION
			VALUE "SpecialBuild", "\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END

STRINGTABLE DISCARDABLE
BEGIN
	kstidBufferTooSmall  "The buffer passed to this method was too small to hold the result."
	kstidFracNumVal		 "Can't report a fractional numeric value"
	kstidNoNumeric		 "Unicode does not define a numeric value for this character"
	kstidInvalidUnicode	 "Found an invalid Unicode character or sequence"
	kstidICUCharName	 "The ICU code retrieving the Unicode character name found an error."
	kstidICUDecomp		 "The ICU code finding the Unicode decomposition encountered an error."
	kstidICUNormalize	 "The ICU code normalizing the text found an error."
	kstidICUCase		 "The ICU function for changing the case found an error."
	kstidICUBrkInit		 "The ICU function to initialize the BreakIterator returned an error."
	kstidICUBrkRange	 "The line break asked for was out of range of the given text."
	kstidLangDefaultCollation "DefaultCollation"
	kstidUserWs          "en"	// unless and until someone translates all our resources and
								// fixes up the resulting problems in the code.
	kstidKeymanInitFailedCaption "Keyman initialization failed"
	kstidKeymanInitUnexpectedFailMsg "Unexpected Keyman failure"
	kstidKeymanNotRegisteredMsg "No known version of Keyman is registered."
	kstidKeymanRootNotRegisteredMsg "Keyman program is not registered correctly."
	kstidKeymanDllLoadFailureMsg "Failed to load Keyman32.dll"
END

STRINGTABLE DISCARDABLE
BEGIN
	kstidLangDefXmlMsg001 "Missing CharDef code attribute value.\n"
	kstidLangDefXmlMsg002 "Missing CharDef data attribute value.\n"
	kstidLangDefXmlMsg003 "Invalid CharDef code attribute value: ""%<0>s"".\n"
	kstidLangDefXmlMsg004 "Missing Font file attribute value.\n"
	kstidLangDefXmlMsg005 "Missing LgWritingSystem definition!?\n"
	kstidLangDefXmlMsg006 "Unbalanced object stack!?\n"
	kstidLangDefXmlMsg007 "Unbalanced property value stack!?\n"
	kstidLangDefXmlMsg008 "Cannot put multiple objects in an atomic property.\n"
	kstidLangDefXmlMsg009 "Cannot open language definition file ""%<0>s""!?\n"
	kstidLangDefXmlMsg010 "Error accessing language definition file ""%<0>s""!?\n"
	kstidLangDefXmlMsg011 "XML parser detected an XML syntax error!\n"
	kstidLangDefXmlMsg012 "Error detected while parsing XML file!\n"
	kstidLangDefXmlMsg013 "Missing EncodingConverter install attribute value.\n"
END

STRINGTABLE DISCARDABLE
BEGIN
	kstidLangDefXmlMsg014 "Problem while opening project"
	kstidLangDefXmlMsg015 "The %<0>s writing system could not be installed, possibly due to insufficient user privileges.%nThis may affect sorting, special character definitions, and other aspects of the writing system.%n"
END

// Message strings for the XML import/export process.  These are shared with the Language DLL.

STRINGTABLE DISCARDABLE
BEGIN
	kstidXmlUserWs	"en"
END

STRINGTABLE DISCARDABLE
BEGIN
	kstidXmlInfoMsg001  "    %<0>d %<1>s processed, %<2>d successful, %<3>d attempted\n"
	kstidParameter	  "Parameter"
	kstidParameters	 "Parameters"
	kstidXmlInfoMsg002  "%<0>d custom %<1>s have been added to the database schema.\n"
	kstidField		  "field"
	kstidFields		 "fields"
	kstidXmlInfoMsg003  "First pass of reading the XML file took %<0>d %<1>s.\n"
	kstidXmlInfoMsg007  "Creating %<0>d objects after the first pass took %<1>d %<2>s.\n"
	kstidXmlInfoMsg009  "Second pass of reading the XML file took %d %s.\n"
	kstidXmlInfoMsg004  "Storing data after the second pass took %<0>d %<1>s.\n"
	kstidXmlInfoMsg006  "Loading the XML file into the database took %<0>d %<1>s.\n"
	kstidSecond		 "second"
	kstidSeconds		"seconds"
	kstidXmlInfoMsg005  "Storing the data into the database took %<0>d SQL %<1>s.\n"
	kstidCommand		"command"
	kstidCommands	   "commands"
	kstidXmlInfoMsg008  "Creating %<0>d empty structured text paragraphs.\n"
	kstidXmlInfoMsg010  "<FwDatabase version=""%<0>d""> does not match the database version (%<1>d).\n"
	kstidXmlInfoMsg011  "No version number given with <FwDatabase>.\n"

	kstidXmlErrorMsg001 "<%<0>s> elements cannot be nested inside either <Str> or <AStr>!\n"
	kstidXmlErrorMsg002 "<%<0>s> is improperly nested!\n"
	kstidXmlErrorMsg003 "<%<0>s> must be nested inside <%<1>s> or an object attribute element!\n"
	kstidXmlErrorMsg004 "<%<0>s> must be nested inside <%<1>s>...</%<1>s>!\n"
	kstidXmlErrorMsg005 "<%<0>s> must be nested inside an object attribute element!\n"
	kstidXmlErrorMsg006 "<%<0>s> must be nested inside an object element!\n"
	kstidXmlErrorMsg007 "<%<0>s> not recognized nested within either <Str> or <AStr>!\n"
	kstidXmlErrorMsg008 "<AdditionalFields> must be a toplevel element inside <FwDatabase>!?\n"
	kstidXmlErrorMsg009 "<CustomField> must be a toplevel element inside <AdditionalFields>!?\n"
	kstidXmlErrorMsg010 "<%<0>s> must be the outermost XML element!?\n"
	kstidXmlErrorMsg011 "Cannot convert ""%<0>s"" into a Language Writing system code.\n"
	kstidXmlErrorMsg012 "Cannot create GUID for object identifier!\n"
	kstidXmlErrorMsg013 "Cannot get buffer from the XML parser [pass 1]!  (Out of memory?)\n"
	kstidXmlErrorMsg014 "Cannot get buffer from the XML parser [pass 2]!  (Out of memory?)\n"
	kstidXmlErrorMsg015 "Cannot have some ord attribute values missing and some present!\n"
	kstidXmlErrorMsg016 "Cannot read the CmObject table in the database!\n"
	kstidXmlErrorMsg017 "Invalid list root id '%<0>s' in custom field definition [%<1>S]??\n"
	kstidXmlErrorMsg018 "ERROR %<0>s executing SQL command:\n	%<1>s\n"
	kstidXmlErrorMsg019 "ERROR %<0>s executing SQL function on line %<1>d of %<2>s:\n	%<3>s\n"
	kstidXmlErrorMsg020 "ERROR creating %<0>S (%<1>d, %<2>g)\n"
	kstidXmlErrorMsg021 "ERROR in SetMultiBigStr$ %<0>d,%<1>d,%<2>d,'...',0x...\n"
	kstidXmlErrorMsg022 "ERROR in SetMultiBigTxt$ %<0>d,%<1>d,%<2>d,'...'\n"
	kstidXmlErrorMsg023 "ERROR in SetMultiStr$ %<0>d,%<1>d,%<2>d,'...',0x...\n"
	kstidXmlErrorMsg024 "ERROR in SetMultiTxt$ %<0>d,%<1>d,%<2>d,'...'\n"
	kstidXmlErrorMsg025 "ERROR in UPDATE [%<0>S] SET [%<1>S]=? WHERE [Id]=%<2>d\n"
	kstidXmlErrorMsg026 "ERROR in UPDATE [%<0>S] SET [%<1>S]=?,%<2>S_Fmt=? WHERE [Id]=%<3>d\n"
	kstidXmlErrorMsg027 "ERROR with INSERT %<0>S_%<1>S (Src, Dst) VALUES (%<2>d, %<3>d)\n"
	kstidXmlErrorMsg028 "ERROR with INSERT %<0>S_%<1>S (Src, Dst, Ord) VALUES (%<2>d, %<3>d, %<4>d)\n"
	kstidXmlErrorMsg029 "ERROR with UPDATE [%<0>S] SET [%<1>S]=%<2>d WHERE [Id]=%<3>d\n"
	kstidXmlErrorMsg030 "ERROR! BUG! Invalid field data type storing data?? (%<0>d)\n"
	kstidXmlErrorMsg031 "Empty <%<0>s> element?\n"
//  kstidXmlErrorMsg032 "Empty <AUni> element? (cbtext = 0)\n"
	kstidXmlErrorMsg033 "Empty <Run type=""picture""> element?\n"
//  kstidXmlErrorMsg034 "Empty <Uni> element? (cbtext = 0)\n"
	kstidXmlErrorMsg035 "Empty MultiString element? (cbtext = 0)\n"
	kstidXmlErrorMsg036 "Empty String element? (cbtext = 0)\n"
	kstidXmlErrorMsg037 "Error detected while parsing XML file [pass 1]!\n"
	kstidXmlErrorMsg038 "Error detected while parsing XML file [pass 2]!\n"
	kstidXmlErrorMsg039 "Found a <Run> with identical properties to preceding <Run>: these have been merged.\n"
	kstidXmlErrorMsg040 "INTERNAL DATA CORRUPTION: unable to get class for field!\n"
	kstidXmlErrorMsg041 "INTERNAL XML ELEMENT STACK CORRUPTED!?\n"
	kstidXmlErrorMsg042 "Ignoring <Run %<0>s=""%<1>s""> in the absence of a %<2>s attribute.\n"
//  kstidXmlErrorMsg043 "Ignoring <Run offsetUnit=""%<0>s""> in the absence of a offset attribute.\n"
	kstidXmlErrorMsg044 "Ignoring <Run ows=""%<0>s""> in the absence of a ws attribute.\n"
	kstidXmlErrorMsg045 "Ignoring <Run owsBase=""%<0>s""> in the absence of a wsBase attribute.\n"
	kstidXmlErrorMsg046 "Improperly nested <%<0>s name=""%<1>s""> element!\n"
	kstidXmlErrorMsg047 "Improperly nested <%<0>s> element!\n"
	kstidXmlErrorMsg048 "Invalid Boolean value for the %<0>S field of a %<1>S object: ""%<2>s"".\n"
	kstidXmlErrorMsg049 "Invalid GUID value in <Run %<0>s=""%<1>s""> element!\n"
	kstidXmlErrorMsg050 "Invalid GenDate value for the %<0>S field of a %<1>S object: ""%<2>s"".\n"
	kstidXmlErrorMsg051 "Invalid Integer value for the %<0>S field of a %<1>S object: ""%<2>s"".\n"
	kstidXmlErrorMsg052 "Invalid Numeric value for the %<0>S field of a %<1>S object: ""%<2>s"".\n"
	kstidXmlErrorMsg053 "Invalid XML Element: unknown class ""%<0>s""\n"
	kstidXmlErrorMsg054 "Invalid XML Element: unknown field ""%<0>s""\n"
	kstidXmlErrorMsg055 "Invalid bin attribute in Float element: ""%<0>s"".\n"
	kstidXmlErrorMsg056 "Invalid character data found between runs: """
	kstidXmlErrorMsg057 "Invalid class attribute for CustomField element: %<0>s\n"
	kstidXmlErrorMsg058 "Invalid writing system in <AStr ws=""%<0>s"">!\n"
	kstidXmlErrorMsg059 "Invalid writing system in <AUni ws=""%<0>s"">!\n"
	kstidXmlErrorMsg060 "Invalid field type containing <%<0>s> element: %<1>d.\n"
	kstidXmlErrorMsg061 "Invalid ord attribute in Link element: ""%<0>s"".\n"
	kstidXmlErrorMsg062 "Invalid ord attribute value: ""%<0>s""\n"
	kstidXmlErrorMsg063 "Invalid target attribute for CustomField element: %<0>s\n"
	kstidXmlErrorMsg064 "Invalid type attribute for CustomField element: %<0>s\n"
	kstidXmlErrorMsg065 "Invalid Float value for the %<0>S field of a %<1>S object: ""%<2>s"".\n"
	kstidXmlErrorMsg066 "Invalid value in <Run %<0>s=""%<1>s"">: need on, off or invert\n"
	kstidXmlErrorMsg067 "Invalid value in <Run %<0>s=""%<1>s"">.\n"
	kstidXmlErrorMsg068 "Invalid value in <Run %<0>s=""%<1>s"">.\n"
//  kstidXmlErrorMsg069 "Invalid value in <Run italic=""%<0>s"">: need on, off or invert\n"
//  kstidXmlErrorMsg070 "Invalid value in <Run offset=""%<0>s"">.\n"
//  kstidXmlErrorMsg071 "Invalid value in <Run offsetUnit=""%<0>s"">.\n"
	kstidXmlErrorMsg072 "Invalid value in <Run superscript=""%<0>s"">: need off, super, or sub\n"
	kstidXmlErrorMsg073 "Invalid value in <Run type=""%<0>s"">: need chars or picture\n"
	kstidXmlErrorMsg074 "Invalid value in <Run underline=""%<0>s"">: need none, single, double, dotted, dashed, or strikethrough\n"
	kstidXmlErrorMsg075 "Invalid Guid value for the %<0>S field of a %<1>S object: ""%<2>s"".\n"
	kstidXmlErrorMsg076 "Invalid Time value for the %<0>S field of a %<1>S object: ""%<2>s"".\n"
	kstidXmlErrorMsg077 "Missing Link target: ""%<0>s""\n"
	kstidXmlErrorMsg078 "Missing both bin and val attributes in Float element.\n"

	kstidXmlErrorMsg079 "Missing %<0>s attribute for %<1>s element.\n"

	kstidXmlErrorMsg080 "Missing writing system for <AStr> element!\n"
	kstidXmlErrorMsg081 "Missing writing system for <AUni> element!\n"
// THE NEXT SEVERAL ITEMS SHOULD BE REPLACED BY THE NEW kstidXmlErrorMsg079 SOMETIME.
	kstidXmlErrorMsg089 "Missing val attribute in GenDate element.\n"
	kstidXmlErrorMsg090 "Missing val attribute in Guid element.\n"
	kstidXmlErrorMsg091 "Missing val attribute in Integer element.\n"
	kstidXmlErrorMsg092 "Missing val attribute in Numeric element.\n"
	kstidXmlErrorMsg093 "Missing val attribute in Time element.\n"
	kstidXmlErrorMsg094 "Out of memory after first pass through XML file!\n"
	kstidXmlErrorMsg095 "Out of memory before parsing anything!\n"
	kstidXmlErrorMsg096 "Out of memory!\n"
	kstidXmlErrorMsg097 "Repeated object GUID\n"
	kstidXmlErrorMsg098 "Repeated object ID\n"
	kstidXmlErrorMsg099 "SQL_PARAM_DIAG_UNAVAILABLE INFO creating %<0>S (%<1>d, %<2>g, %<3>d, %<4>d, %<5>d)\n"
	kstidXmlErrorMsg100 "SQL_PARAM_ERROR creating %<0>S (%<1>d, %<2>g, %<3>d, %<4>d, %<5>d)\n"
	kstidXmlErrorMsg101 "SQL_PARAM_UNUSED creating %<0>S (%<1>d, %<2>g, %<3>d, %<4>d, %<5>d)\n"
	kstidXmlErrorMsg102 "The database is not empty!\n"
	kstidXmlErrorMsg103 "UNAVAIL INFO in SetMultiBigStr$ %<0>d,%<1>d,%<2>d,'...',0x...\n"
	kstidXmlErrorMsg104 "UNAVAIL INFO in SetMultiBigTxt$ %<0>d,%<1>d,%<2>d,'...'\n"
	kstidXmlErrorMsg105 "UNAVAIL INFO in SetMultiStr$ %<0>d,%<1>d,%<2>d,'...',0x...\n"
	kstidXmlErrorMsg106 "UNAVAIL INFO in SetMultiTxt$ %<0>d,%<1>d,%<2>d,'...'\n"
	kstidXmlErrorMsg107 "UNAVAIL INFO in UPDATE [%<0>S] SET [%<1>S]=? WHERE [Id]=%<2>d\n"
	kstidXmlErrorMsg108 "UNAVAIL INFO in UPDATE [%<0>S] SET [%<1>S]=?,%<2>S_Fmt=? WHERE [Id]=%<3>d\n"
	kstidXmlErrorMsg109 "UNAVAILABLE INFO creating %<0>S (%<1>d, %<2>g)\n"
	kstidXmlErrorMsg110 "UNAVAILABLE INFO for INSERT %<0>S_%<1>S (Src, Dst) VALUES (%<2>d, %<3>d)\n"
	kstidXmlErrorMsg111 "UNAVAILABLE INFO for INSERT (Src, Dst, Ord) %<0>S_%<1>S VALUES (%<2>d, %<3>d, %<4>d)\n"
	kstidXmlErrorMsg112 "UNAVAILABLE INFO for UPDATE [%<0>S] SET [%<1>S]=%<2>d WHERE [Id]=%<3>d\n"
	kstidXmlErrorMsg113 "UNUSED creating %<0>S (%<1>d, %<2>g)\n"
	kstidXmlErrorMsg114 "UNUSED data INSERT %<0>S_%<1>S (Src, Dst) VALUES (%<2>d, %<3>d)\n"
	kstidXmlErrorMsg115 "UNUSED data INSERT %<0>S_%<1>S (Src, Dst, Ord) VALUES (%<2>d, %<3>d, %<4>d)\n"
	kstidXmlErrorMsg116 "UNUSED data UPDATE [%<0>S] SET [%<1>S]=%<2>d WHERE [Id]=%<3>d\n"
	kstidXmlErrorMsg117 "UNUSED in SetMultiBigStr$ %<0>d,%<1>d,%<2>d,'...',0x...\n"
	kstidXmlErrorMsg118 "UNUSED in SetMultiBigTxt$ %<0>d,%<1>d,%<2>d,'...'\n"
	kstidXmlErrorMsg119 "UNUSED in SetMultiStr$ %<0>d,%<1>d,%<2>d,'...',0x...\n"
	kstidXmlErrorMsg120 "UNUSED in SetMultiTxt$ %<0>d,%<1>d,%<2>d,'...'\n"
	kstidXmlErrorMsg121 "UNUSED in UPDATE [%<0>S] SET [%<1>S]=? WHERE [Id]=%<2>d\n"
	kstidXmlErrorMsg122 "UNUSED in UPDATE [%<0>S] SET [%<1>S]=?,%<2>S_Fmt=? WHERE [Id]=%<3>d\n"
	kstidXmlErrorMsg123 "Unbalanced XML element stack!?\n"
	kstidXmlErrorMsg124 "Unbalanced element stack!?\n"
	kstidXmlErrorMsg125 "Unbalanced object id stack!?\n"
	kstidXmlErrorMsg126 "Unbalanced property name stack!?\n"
	kstidXmlErrorMsg127 "Unknown XML end tag: ""%<0>s""\n"
	kstidXmlErrorMsg128 "Unknown XML start tag: ""%<0>s""\n"
	kstidXmlErrorMsg129 "WARNING: GUID-based id strings do not all begin with the same letter!\n"
	kstidXmlErrorMsg130 "WARNING: You've got to be kidding: string property length > 1 gigabyte!!!\n"
	kstidXmlErrorMsg131 "WARNING: the ownership hierarchy is not properly nested!\n"
	kstidXmlErrorMsg132 "Warning: String does not have a writing system!\n"
	kstidXmlErrorMsg133 "Warning: ignoring extra character at the end of %<0>s data.\n"
	kstidXmlErrorMsg134 "Wrong field type for Link element: %<0>d\n"
	kstidXmlErrorMsg135 "XML parser detected an XML syntax error [pass 1]!\n"
	kstidXmlErrorMsg136 "XML parser detected an XML syntax error [pass 2]!\n"
	kstidXmlErrorMsg137 "<%<0>s> not recognized nested within <WsStyles9999>!\n"
	kstidXmlErrorMsg138 "<%<0>s> not recognized nested within <Prop>!\n"
	kstidXmlErrorMsg139 "Invalid value in <%<0>s bold=""%<1>s"">: need on, off or invert\n"
	kstidXmlErrorMsg140 "Ignoring <%<0>s fontsizeUnit=""%<1>s""> in the absence of a fontsize attribute.\n"
	kstidXmlErrorMsg141 "Invalid value in <%<0>s fontsize=""%<1>s"">.\n"
	kstidXmlErrorMsg142 "Invalid value in <%<0>s fontsizeUnit=""%<1>s"">.\n"
	kstidXmlErrorMsg143 "Invalid value in <%<0>s align=""%<1>s"">: need leading, left, center, right, trailing, or justify\n"
	kstidXmlErrorMsg144 "Ignoring <%<0>s ows=""%<1>s""> in the absence of a ws attribute.\n"
	kstidXmlErrorMsg145 "Ignoring <%<0>s owsBase=""%<1>s""> in the absence of a wsBase attribute.\n"
	kstidXmlErrorMsg146 "Invalid value in <%<0>s italic=""%<1>s"">: need on, off or invert\n"
	kstidXmlErrorMsg147 "Invalid value in <%<0>s lineHeight=""%<1>s"">.\n"
	kstidXmlErrorMsg148 "Invalid value in <%<0>s lineHeightUnit=""%<1>s"">.\n"
	kstidXmlErrorMsg149 "Ignoring <%<0>s lineHeightUnit=""%<1>s""> in the absence of a lineHeight attribute.\n"
	kstidXmlErrorMsg150 "Invalid value in <%<0>s offset=""%<1>s"">.\n"
	kstidXmlErrorMsg151 "Invalid value in <%<0>s offsetUnit=""%<1>s"">.\n"
	kstidXmlErrorMsg152 "Ignoring <%<0>s offsetUnit=""%<1>s""> in the absence of a offset attribute.\n"
	kstidXmlErrorMsg153 "Invalid value in <%<0>s superscript=""%<1>s"">: need off, super, or sub.\n"
	kstidXmlErrorMsg154 "Invalid value in <%<0>s underline=""%<1>s"">: need none, single, double, dotted, dashed, or strikethrough.\n"
//  kstidXmlErrorMsg155 "Ignoring an empty <Run>.\n"
	kstidXmlErrorMsg156 "Warning: Invalid GUID-based id string for importing object.\n"
	kstidXmlErrorMsg157 "Warning: Invalid writing system in <Link ws=""%<0>s"" .../>.\n"
	kstidXmlErrorMsg158 "Warning: Invalid field for implicit target in a Link element: %<0>S.\n"
	kstidXmlErrorMsg159 "Warning: Implicit MoInflAffixSlot target in a Link element is missing the name attribute.\n"
	kstidXmlErrorMsg160 "Warning: Implicit %<0>s target in a Link element cannot access the PartOfSpeech list.\n"
	kstidXmlErrorMsg161 "Warning: Implicit %<0>s target in Link element cannot find/create a needed PartOfSpeech.\n"
	kstidXmlErrorMsg162 "Warning: Implicit %<0>s target in Link element is missing one or more required attributes.\n"
	kstidXmlErrorMsg163 "Warning: Implicit ReversalIndexEntry target in a Link element is missing the form attribute.\n"
	kstidXmlErrorMsg164 "Warning: Implicit ReversalIndexEntry target in a Link element cannot find/create the ReversalIndex.\n"
	kstidXmlErrorMsg165 "Warning: Implicit ReversalIndexEntry target in a Link element has an invalid form attribute.\n"
	kstidXmlErrorMsg166 "Error obtaining LexDb id from the database!?\n"
	kstidXmlErrorMsg167 "Info: Implicit %<0>s target in a Link element has abbr attribute ""%<1>S"" which matches a Name value.\n"
	kstidXmlErrorMsg168 "Info: Implicit %<0>s target in a Link element has name attribute ""%<1>S"" which matches an Abbreviation value.\n"
	kstidXmlErrorMsg169 "Implicit MoInflAffixSlot target in a Link element has neither the nameOwner nor the abbrOwner attribute.\n"
	kstidXmlErrorMsg170 "Implicit %<0>s target in a Link element is missing the sense or entry attribute.\n"
	kstidXmlErrorMsg171 "Implicit %<0>s target in a Link element is missing the name or abbr attribute.\n"
	kstidXmlErrorMsg172 "Invalid class for implicit target in Link element: %<0>S.\n"
	kstidXmlErrorMsg173 "Warning: Invalid writing system in <Link wsv=""%<0>s"" .../>.\n"
	kstidXmlErrorMsg174 "Warning: empty ws attribute found: substituting analysis writing system.\n"
	kstidXmlErrorMsg175 "Invalid value in <%<0>s spellcheck=""%<1>s"">: need normal, doNotCheck, or forceCheck.\n"

	kstidXmlDebugMsg001 "DEBUG: External Link target: db=""%<0>s"", target=""%<1>s""\n"
	kstidXmlDebugMsg002 "DEBUG: Repeated run properties found: ibProp = %<0>d, Top()->ibProp = %<1>d\n"
	kstidXmlDebugMsg003 "ERROR CAUGHT on line %<0>d of %<1>s: %<2>s\n"
	kstidXmlDebugMsg004 "SUCCESSFULLY CREATED %<0>S (%<1>d, %<2>g, %<3>d, %<4>d, %<5>d)\n"
	kstidXmlDebugMsg005 "UNKNOWN ERROR CAUGHT on line %<0>d of %<1>s\n"
	kstidXmlDebugMsg006 "m_vetiOpen[%<0>d].m_elty = %<1>s, m_icls = %<2>d\n"
	kstidXmlDebugMsg007 "rpi[%<0>d] = %<1>d, %<2>d, 0x"
	kstidXmlDebugMsg008 "run[%<0>d]: ichMin = %<1>d, ibProp = %<2>d; distinct = %<3>d, fMerge = %<4>s\n"
END

STRINGTABLE DISCARDABLE
BEGIN
	kstidXmlInfoMsg101 "Info: Creating new inflection class with ws=""%<0>S"", abbr=""%<1>s"", and name=""%<2>s"".\n"
	kstidXmlInfoMsg102 "Info: Creating new inflectional affix slot with ws=""%<0>S"" and name=""%<1>s"", for POS with abbr=""%<2>s"" and name=""%<3>s"".\n"
	kstidXmlInfoMsg103 "Info: Creating new object with ws=""%<0>S"", abbr=""%<1>s"", and name=""%<2>s"" in the %<3>S list.\n"
	kstidXmlInfoMsg104 "Warning: The %<0>S list is not supposed to be extensible!\n"
	kstidXmlInfoMsg105 "Info: Creating ReversalIndex for the %<0>S (""%<1>S"") language.\n"
	kstidXmlInfoMsg106 "Info: Creating ReversalIndexEntry ""%<0>S"" (""%<1>S"") for the %<2>S (""%<3>S"") language.\n"
	kstidXmlInfoMsg107 "%<0>s  [repeated %<1>d more times in the XML file]\n"
	kstidXmlInfoMsg108 "Warning: Truncating string from %<0>d characters to %<1>d characters for the %<2>S field of a %<3>S object.\n"
END

STRINGTABLE DISCARDABLE
BEGIN
	kstidXmlInfoMsg201  "%<0>u custom field %<1>s written.\n"
	kstidDefinition	 "definition"
	kstidDefinitions	"definitions"
	kstidXmlInfoMsg202  "Dumping the XML file from the database took %<0>d %<1>s.\n"
	kstidXmlInfoMsg203  "Loading %<0>u %<1>s of Object Ownership Hierarchy data took %<2>d %<3>s.\n"
	kstidRow			"row"
	kstidRows		   "rows"
	kstidXmlInfoMsg206  "Loading %<0>u %<1>s of ""Binary"" data took %<2>d %<3>s.\n"
	kstidXmlInfoMsg207  "Loading %<0>u %<1>s of ""Image"" data took %<2>d %<3>s.\n"
	kstidXmlInfoMsg210  "Loading %<0>u %<1>s of ""MultiString"" data took %<2>d %<3>s.\n"
	kstidXmlInfoMsg211  "Loading %<0>u %<1>s of ""MultiUnicode"" data took %<2>d %<3>s.\n"
	kstidXmlInfoMsg212  "Loading %<0>u %<1>s of ""ReferenceAtom"" data took %<2>d %<3>s.\n"
	kstidXmlInfoMsg213  "Loading %<0>u %<1>s of ""ReferenceCollection/Sequence"" data took %<2>d %<3>s.\n"
	kstidXmlInfoMsg214  "Loading %<0>u %<1>s of ""String"" data took %<2>d %<3>s.\n"
	kstidXmlInfoMsg215  "Loading %<0>u %<1>s of ""Unicode"" data took %<2>d %<3>s.\n"
	kstidXmlInfoMsg216  "Loading %<0>u %<1>s of basic attribute data took %<2>d %<3>s.\n"
	kstidXmlInfoMsg217  "Loading the data from the database took %<0>d SQL %<1>s.\n"
	kstidXmlInfoMsg218  "Rebuilding the object hierarchy table took %<0>d %<1>s.\n"
	kstidXmlInfoMsg219  "SQL[%<0>d]: %<1>s\n"
	kstidXmlInfoMsg220  "Writing the XML file took %<0>d %<1>s.\n"
	kstidXmlInfoMsg221  "    Reading %<0>d additional characters of string data.\n"
	kstidXmlInfoMsg222  "    Reading %<0>d additional bytes of format data.\n"
	kstidXmlInfoMsg224  "Owner of object %<0>d does not have a name in the default analysis language.\n"
	kstidXmlInfoMsg225  "Owner of object %<0>d does not have an abbreviation in the default analysis language.\n"

	kstidXmlErrorMsg201 "	%<0>s - %<1>s\n"
	kstidXmlErrorMsg202 "BUG/FEATURE - cannot handle Run scalar property code ""%<0>s""\n"
	kstidXmlErrorMsg203 "ERROR %<0>s executing SQL command:\n	%<1>s\n"
	kstidXmlErrorMsg204 "ERROR %<0>s executing SQL function on line %<1>d of %<2>s:\n	%<3>s\n"
	kstidXmlErrorMsg205 "ERROR - invalid Run scalar property length (%<0>d)\n"
	kstidXmlErrorMsg206 "ERROR - invalid Run string property length\n"
	kstidXmlErrorMsg207 "ERROR - invalid binary format data for a string: %<0>d run%<1>s, %<2>d byte%<3>s."
	kstidRun			"run"
	kstidRuns		   "runs"
	kstidByte		   "byte"
	kstidBytes		  "bytes"
	kstidXmlErrorMsg208 "ERROR - invalid binary format data for a string: %<0>d run%<1>s."
	kstidXmlErrorMsg209 "ERROR - invalid binary format data for a string: only %<0>d byte%<1>s."
	kstidXmlErrorMsg210 "ERROR - invalid binary format data for a string: run %<0>d does not start after\nrun %<1>d (min %<2>d <= min %<3>d).\n"
	kstidXmlErrorMsg211 "ERROR - invalid binary format data for a string: run %<0>d has invalid internal\noffset (%<1>d)."
	kstidXmlErrorMsg212 "ERROR - invalid binary format data for a string: run %<0>d starts after end of\nstring (length = %<1>d <= min = %<2>d)."
	kstidXmlErrorMsg213 "ERROR - invalid binary format data for a string: run %<0>d starts before the\nstring (min = %<1>d)."
	kstidXmlErrorMsg214 "ERROR - invalid embedded object type in Run string property (%<0>d)\n"
	kstidXmlErrorMsg215 "ERROR - invalid writing system of Run string property length\n"
	kstidXmlErrorMsg216 "ERROR - invalid internal writing system of Run scalar property code\n"
	kstidXmlErrorMsg217 "ERROR - invalid internal writing system of Run string property code\n"
	kstidXmlErrorMsg218 "ERROR - unknown Run scalar property code (%<0>d)\n"
	kstidXmlErrorMsg219 "ERROR - unknown Run string property code (%<0>d)\n"
	kstidXmlErrorMsg220 "ERROR [%<0>d]: Constructed Query overflowed its buffer!\n""%<1>s""\n"
	kstidXmlErrorMsg221 "WARNING - invalid binary format data for a string: 0 runs, %<0>d byte%<1>s."
	kstidXmlErrorDecoding "ERROR decoding the properties: check the log file for details."
	kstidXmlErrorMsg222 "WARNING: no writing system"
	kstidXmlErrorMsg223 "Cannot get version number from the database!?\n"
	kstidXmlErrorMsg224 "Corrupted database: missing %<0>S object (hobj = %<1>d) for %<2>S (hobj = %<3>d)\n"
	kstidXmlErrorMsg225 "Corrupted database: missing integer property for %<1>S style.%n"
	kstidXmlErrorMsg226 "Corrupted database: missing %<0>d integer properties for %<1>S style.%n"
	kstidXmlErrorMsg227 "Corrupted database: missing integer property in paragraph's style.%n"
	kstidXmlErrorMsg228 "Corrupted database: missing %<0>d integer properties in paragraph's style.%n"
	kstidXmlErrorMsg229 "Corrupted database: missing string property for %<1>S style.%n"
	kstidXmlErrorMsg230 "Corrupted database: missing %<0>d string properties for %<1>S style.%n"
	kstidXmlErrorMsg231 "Corrupted database: missing string property in paragraph's style.%n"
	kstidXmlErrorMsg232 "Corrupted database: missing %<0>d string properties in paragraph's style.%n"
	kstidUNKNOWN		"UNKNOWN"
END

STRINGTABLE DISCARDABLE
BEGIN
	kstidXmlErrorMsg301 "Invalid hvoOwner passed to ImportXmlObject method: %<0>d\n"
	kstidXmlErrorMsg302 "Unknown clid (%<0>d) retrieved for hvoOwner: SOMETHING IS VERY WRONG!\n"
	kstidXmlErrorMsg303 "Unknown flid passed to ImportXmlObject method: %<0>d\n"
	kstidXmlErrorMsg304 "Invalid flid passed to ImportXmlObject method: flid = %<0>d, but class = %<1>d\n"
	kstidXmlErrorMsg305 "Empty database: THIS SHOULD NEVER HAPPEN!\n"
	kstidXmlErrorMsg306 "<%<0>s> must be nested inside <%<1>s>...</%<1>s>!\n"
	kstidXmlErrorMsg307 "DEBUG: Unknown flid for list: %<0>d\n"
	kstidXmlInfoMsg223  "Info: Creating new writing system for code ""%<0>s"".\n"
	kstidXmlErrorMsg308 "Warning: Picture file ""%<0>s"" does not exist.\n"
	kstidXmlErrorMsg309 "Warning: Cannot copy picture file ""%<0>s"" to ""%<1>s"".\n"
	kstidXmlErrorMsg310 "DEBUG: Unknown flid for folders: %<0>d"
	kstidXmlErrorMsg311 "ERROR - Invalid start tag <%<0>s> for XML file: expected <%<1>s>.\n"
	kstidXmlErrorMsg312 "Warning: Media file ""%<0>s"" does not exist.\n"
	kstidXmlErrorMsg313 "Warning: Cannot copy media file ""%<0>s"" to ""%<1>s"".\n"
	kstidXmlErrorMsg314 "ERROR - Cannot create directory ""%<0>s"".\n"

	kstidXmlErrorMsg315 "Invalid %<0>s attribute value for %<1>s element: not GUID based.\n"
	kstidXmlErrorMsg316 "Invalid %<0>s attribute value for %<1>s element: bad GUID value.\n"
	kstidXmlErrorMsg317 "Object id being merged (%<0>g) should not appear in the updated list.\n"
	kstidXmlErrorMsg318 "Object id being deleted (%<0>g) should not appear in the updated list.\n"
	kstidXmlErrorMsg319 "A list update XML file must begin with a field tag, not a class tag!\n"
	kstidXmlErrorMsg320 "ERROR in ""%s"" [param=%d].\n"
	kstidXmlErrorMsg321 "UNUSED in ""%s"" [param=%d].\n"
	kstidXmlErrorMsg322 "UNAVAIL INFO in ""%s"" [param=%d].\n"
	kstidXmlErrorMsg323 "Warning: Storing only the first %<0>d of %<1>d characters for this string: ""%<2>s"".\n"

	kstidXmlInfoMsg301 "Initializing from the database before reading the XML file took %<0>d %<1>s.\n"
	kstidXmlInfoMsg302 "Processing the update information took %<0>d %<1>s.\n"
	kstidXmlInfoMsg303 "Creating new objects took %<0>d %<1>s.\n"
	kstidXmlInfoMsg304 "Updating owners and sequence positions took %<0>d %<1>s.\n"
	kstidXmlInfoMsg305 "Fixing links to merged or deleted list items took %<0>d %<1>s.\n"
	kstidXmlInfoMsg306 "Deleting obsolete database objects took %<0>d %<1>s.\n"
	kstidXmlInfoMsg307 "Removing possibly obsolete data from list items took %<0>d %<1>s.\n"
	kstidXmlInfoMsg308 "Collecting obsolete database objects to delete took %<0>d %<1>s.\n"
	kstidXmlInfoMsg309 "Need to delete %<0>d obsolete database %<1>s.\n"
	kstidObject  "object"
	kstidObjects "objects"
	kstidXmlInfoMsg310 "(Special initializing for update alone took %<0>d %<1>s.)\n"
	kstidXmlInfoMsg311 "Info: Creating %<0>s Pair Lexical Reference Type with name=""%<1>S"" and abbr=""%<2>S"".\n"
	kstidSense "Sense"
	kstidEntry "Entry"
END
