name: check-whitespace

on:
    pull_request:
        types: [opened, synchronize]

# Avoid unnecessary builds
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    check-whitespace:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Run whitespace check script
              shell: bash
              run: bash ./Build/Agent/check-whitespace.sh
