<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Module Id="ECGAC31" Guid="A3BA73F6-CE16-4a98-B96B-C8B938174C8B" Language="1033" Version="3.1.0.0">
		<Package Id="????????-????-????-????-????????????" Keywords="SIL; Encoding Conversion; Transliteration; EncConverters" Description="EncConverter core 3.1 Merge Module -- Include in any client application deployment project which uses the EncConverters objects" Comments="Common installer module for SIL's version 3.0 of the EncConverter's core" Manufacturer="SIL International" InstallerVersion="200" Platforms="Intel" Languages="1033" SummaryCodepage="1252" />
		<Directory Id="TARGETDIR" Name="SourceDir">
	  <Component Id="RemoveOldShortcuts" Guid="4FB8DBEA-906D-43E0-843F-4F643389B5A9" KeyPath="yes">
		<RemoveFolder Id="RemoveOldShortcut1" Directory="SIL_Converters" On="uninstall" />
		<RemoveFolder Id="RemoveOldShortcut2" Directory="Help" On="uninstall" />
	  </Component>
	  <Component Id="RegisterECFolders" Guid="2CCD5D38-A61E-43ba-B060-9C1F140F206B">
				<Registry Id="regECRootDir" Root="HKLM" Key="Software\SIL\SilEncConverters31" Name="RootDir" Type="string" KeyPath="yes" Value="[CommonFilesFolder]SIL\"/>
				<Registry Id="regECPluginDir" Root="HKLM" Key="Software\SIL\SilEncConverters31" Name="PluginDir" Type="string" Value="[CommonAppDataFolder]SIL\EC\Plugins"/>
			</Component>
	  <Directory Id="GAC_FOR_EC" SourceName="GLOBAL~1" LongSource="Global Assembly Cache Folder">
		<Component Id="GAC_ECInterfaces.dll" Guid="9FA920F2-97BB-489d-9F8A-302819C3B3B1">
		  <File Id="GAC_ECInterfaces.dll" Name="ECINTE~2.dll" LongName="ECInterfaces.dll" Vital="yes" KeyPath="yes" AssemblyManifest="GAC_ECInterfaces.dll" Assembly=".net" GAC="true" Source="Lib\${config}\ECInterfaces.dll" />
		</Component>
		<Component Id="GAC_SilEncConverters30.dll" Guid="5AA77C6D-2D0B-4780-A0B3-A167F448D664">
		  <File Id="GAC_SilEncConverters30.dll" Name="SILENC~1.dll" LongName="SilEncConverters30.dll" Vital="yes" KeyPath="yes" AssemblyManifest="GAC_SilEncConverters30.dll" Assembly=".net" GAC="true" Source="Lib\${config}\SilEncConverters30.dll" />
		</Component>
	  </Directory>
	  <Directory Id="CommonFilesFolder" Name="Common">
				<Directory Id="SIL" Name="SIL">
		  <Component Id="EncConvertersAppDataMover30.exe" Guid="759E8B65-294C-4a24-BC50-4C038F474B7A">
			<File Id="EncConvertersAppDataMover30.exe" Name="EncCon~1.exe" LongName="EncConvertersAppDataMover30.exe" ReadOnly="yes" KeyPath="yes" Source="Lib\${config}\EncConvertersAppDataMover30.exe"/>
		  </Component>
		  <Component Id="ECDriver.dll" Guid="B888AEC2-8F56-4237-B5AC-9BFAC54A86B4">
			<File Id="ECDriver.dll" Name="ECDRIV~1.dll" LongName="ECDriver.dll" ReadOnly="yes" KeyPath="yes" Source="Lib\${config}\ECDriver.dll"/>
		  </Component>
		  <Directory Id="EC3.1.0.0Folder" Name="EC3.1.0.0">
			<Component Id="ECInterfaces.dll" Guid="7D93CEE6-7A20-4792-BEA7-B3C8324BBD51">
			  <File Id="ECInterfaces.dll" Name="ECINTE~1.dll" LongName="ECInterfaces.dll" Vital="yes" KeyPath="yes" AssemblyManifest="ECInterfaces.dll" AssemblyApplication="ECInterfaces.dll" Assembly=".net" Source="Lib\${config}\ECInterfaces.dll" />
			</Component>
			<Component Id="ECInterfaces.tlb" Guid="E48C1FCD-3141-42fa-8486-8AFB0106412B">
			  <File Id="ECInterfaces.tlb" Name="ECINTE~1.tlb" LongName="ECInterfaces.tlb" Vital="yes" KeyPath="yes" Source="Lib\${config}\ECInterfaces.tlb" />
			  <TypeLib Id="6a977123-92af-43d2-83a7-b4e853ee42d1" Language="0" MajorVersion="3" MinorVersion="1" Description="Encoding Converters Interface definitions for the repository and converter engines" Cost="0" />
			</Component>
			<Component Id="SilEncConverters30.dll" Guid="2D359904-5BED-44c1-A054-7CC988C73E0B">
			  <File Id="SilEncConverters30.dll" Name="SILENC~1.dll" LongName="SilEncConverters30.dll" Vital="yes" KeyPath="yes" AssemblyManifest="SilEncConverters30.dll" AssemblyApplication="SilEncConverters30.dll" Assembly=".net" Source="Lib\${config}\SilEncConverters30.dll" />
			</Component>
			<Component Id="SilEncConverters30.tlb" Guid="D7913068-E354-4198-9364-8ED345A998AE">
			  <File Id="SilEncConverters30.tlb" Name="SILENC~1.tlb" LongName="SilEncConverters30.tlb" Vital="yes" KeyPath="yes" Source="Lib\${config}\SilEncConverters30.tlb" />
			  <TypeLib Id="78E6A648-5360-498f-9BB0-FE4B14A87813" Language="0" MajorVersion="3" MinorVersion="1" Description="Encoding Converters Repository and basic converter engine wrappers" Cost="0" />
			</Component>
		  </Directory>
					<Directory Id="Help" Name="Help">
						<Component Id="CCTableHelp" Guid="1A2209DA-3C80-47a1-A673-614B8AE2E694">
							<File Id="CCTableHelp" Name="CCTabl~1.mht" LongName="CC Table Plug-in About box.mht" ReadOnly="yes" KeyPath="yes" Source="Lib\${Config}\Help\CC Table Plug-in About box.mht"/>
						</Component>
			<Component Id="CPHelp" Guid="1C7AE6E2-8147-4062-87E2-2285E97345CA">
			  <File Id="CPHelp" Name="CodePa~1.mht" LongName="Code Page Converter Plug-in About box.mht" ReadOnly="yes" KeyPath="yes" Source="Lib\${Config}\Help\Code Page Converter Plug-in About box.mht"/>
			</Component>
			<Component Id="CmpdHelp" Guid="0EB390F2-B7CE-40cb-8D1E-2EB43B196EB4">
			  <File Id="CmpdHelp" Name="Compou~1.mht" LongName="Compound Converter Plug-in About box.mht" ReadOnly="yes" KeyPath="yes" Source="Lib\${Config}\Help\Compound Converter Plug-in About box.mht"/>
			</Component>
			<Component Id="FallBackHelp" Guid="8C984ED5-779D-4b96-BBAB-E7A1F80B8588">
			  <File Id="FallBackHelp" Name="Fallba~1.mht" LongName="Fallback Converter Plug-in About box.mht" ReadOnly="yes" KeyPath="yes" Source="Lib\${Config}\Help\Fallback Converter Plug-in About box.mht"/>
			</Component>
			<Component Id="TECkitHelp" Guid="3A81B42A-C4EA-4a27-9089-FE6F89E30F01">
							<File Id="TECkitHelp" Name="TECkit~1.mht" LongName="TECkit Map Plug-in About box.mht" ReadOnly="yes" KeyPath="yes" Source="Lib\${Config}\Help\TECkit Map Plug-in About box.mht"/>
						</Component>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="CommonAppDataFolder" SourceName="AppData">
				<Directory Id="AppDataSIL" Name="SIL">
					<Directory Id="ECFolder" Name="EC">
						<Component Id="CreateEcFolder" Guid="9CFB2B50-4B79-4366-9034-2030623CD810">
							<CreateFolder>
								<Permission Extended="yes" User="AuthenticatedUser" GenericAll="yes" />
							</CreateFolder>
						</Component>
						<Directory Id="PluginsFolder" Name="Plugins">
							<Directory Id="IEC3.1.0.0Folder" Name="IEC3.1.0.0">
								<Component Id="SEC3.1.0.0PluginDetails.xml" Guid="915B5A14-0CD3-4eac-BF80-074E67D29F77">
									<File Id="SEC3.1.0.0PluginDetails.xml" Name="SEC310~1.xml" LongName="SEC 3.1.0.0 Plugin Details.xml" KeyPath="yes" Source="Lib\release\Plugins\IEC3.1.0.0\SEC 3.1.0.0 Plugin Details.xml"/>
								</Component>
							</Directory>
						</Directory>
					</Directory>
		</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder" Name="Program">
				<Directory Id="SIL_Converters" Name="SILCON~1" LongName="SIL Converters">
					<Directory Id="SILConvHelp" Name="Help">
						<Component Id="HelpShortcuts" Guid="0DC2E3A4-FCCA-4b3b-BBA2-FB28EB8D4FD1" KeyPath="yes">
							<Shortcut Id="CCTablePluginHelp" Directory="SILConvHelp" Name="CCTabl~1" LongName="CC Table Plug-in Help" Target="[#CCTableHelp]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Help"/>
			  <Shortcut Id="CPPluginHelp" Directory="SILConvHelp" Name="CODEPA~1" LongName="Code Page Plug-in Help" Target="[#CPHelp]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Help"/>
			  <Shortcut Id="CmpdPluginHelp" Directory="SILConvHelp" Name="COMPOU~1" LongName="Compound Converter Plug-in Help" Target="[#CmpdHelp]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Help"/>
			  <Shortcut Id="FallbackPluginHelp" Directory="SILConvHelp" Name="PRIMAR~1" LongName="Primary-Fallback Converter Plug-in Help" Target="[#FallBackHelp]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Help"/>
			  <Shortcut Id="TECkitPluginHelp" Directory="SILConvHelp" Name="TECKIT~1" LongName="TECkit Converter Plug-in Help" Target="[#TECkitHelp]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Help"/>
			</Component>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Module>
</Wix>
