<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Module Id="MS_KB908002_Fix" Guid="787202C1-172A-4F0E-A034-66A009502083" Language="0" Version="1.0">
	<Package Id="????????-????-????-????-????????????" Keywords="MergeModule, MSI, Database" Description="MS KB908002 Fix" Manufacturer="SIL International" InstallerVersion="110" Platforms="Intel" Languages="0" Compressed="yes" SummaryCodepage="1252" />
	<Property Id="SIL_KB908002_PRESENT">
	  <ComponentSearch Id="AppComp" Guid="232405A0-F32C-4F19-889A-FEE3EC7305C8" Type="directory" />
	</Property>
	<Directory Id="TARGETDIR" Name="SourceDir">
	  <Component Id="registry" Guid="9C271DF5-036F-41EC-A553-3985E3A1FC5F">
		<Condition><![CDATA[NOT SIL_KB908002_PRESENT.787202C1_172A_4F0E_A034_66A009502083]]></Condition>
		<Registry Id="registry" Root="HKLM" Key="Software\SIL\Installer\EC\MS KB908002 Fix" Name="Run" Type="string" KeyPath="yes" Value="[#setup.exe]" />
	  </Component>
	  <Directory Id="MS_KB908002_Fix" Name="MSKB90~1" LongName="MS KB908002 Fix">
		<Component Id="SILConvertersOfficeSetup.msi" Guid="03B83C4F-2FBE-4A03-ACDF-C09F58730972">
		  <File Id="SILConvertersOfficeSetup.msi" Name="SILCON~1.MSI" LongName="SILConvertersOfficeSetup.msi" Source="Installer\MS KB908002 Fix\SILConvertersOfficeSetup.msi" KeyPath="yes" />
		</Component>
		<Component Id="setup.exe" Guid="232405A0-F32C-4F19-889A-FEE3EC7305C8">
		  <File Id="setup.exe" Name="setup.exe" Checksum="yes" Source="Installer\MS KB908002 Fix\setup.exe" KeyPath="yes" />
		</Component>
		<Directory Id="KB908002" Name="KB908002">
		  <Component Id="extensibilityMSM.msi" Guid="4F938998-CF0A-45B6-BC3F-11DBB00DF4B6">
			<File Id="extensibilityMSM.msi" Name="EXTENS~1.MSI" LongName="extensibilityMSM.msi" Source="Installer\MS KB908002 Fix\KB908002\extensibilityMSM.msi" KeyPath="yes" />
		  </Component>
		  <Component Id="lockbackRegKey.msi" Guid="46C9C312-0B51-4C22-B9D1-6C229A12D005">
			<File Id="lockbackRegKey.msi" Name="LOCKBA~1.MSI" LongName="lockbackRegKey.msi" Source="Installer\MS KB908002 Fix\KB908002\lockbackRegKey.msi" KeyPath="yes" />
		  </Component>
		  <Component Id="office2003kb907417sfxcabENU.exe" Guid="B4F705E4-D54C-4512-AB99-AE95DA6D18B3">
			<File Id="office2003kb907417sfxcabENU.exe" Name="OFFICE~1.EXE" LongName="office2003-kb907417sfxcab-ENU.exe" Source="Installer\MS KB908002 Fix\KB908002\office2003-kb907417sfxcab-ENU.exe" Checksum="yes" KeyPath="yes" />
		  </Component>
		</Directory>
	  </Directory>
	</Directory>
  </Module>
</Wix>
